<template>
  <component :is="nameComponent" />
</template>

<script>
import pageMixin from '~/mixins/pageMixin'

export default {
  name: 'PersonalPage',
  components: {
    PersonalDesktop: () =>
      import('@/components/desktop/pages/personal/Personal.vue'),
    PersonaldMobile: () =>
      import('@/components/mobile/pages/personal/Personal.vue'),
  },
  mixins: [pageMixin],
  head() {
    const title = 'Thông tin cá nhân'
    const des = ''
    const keyword =
      'Future, future, tim kiem, viec lam, nhanh chong, tin cay, hieu qua, uy tin'
    const image = `${process.env.BASE_URL}/images/thumb-seo.png`
    return {
      ...this.headPage(title, des, keyword, image),
    }
  },
  computed: {
    nameComponent() {
      return this.isDesktop ? 'PersonalDesktop' : 'PersonaldMobile'
    },
  },
}
</script>
