<template>
  <div>
    <post-detail-container :post="post" />
  </div>
</template>

<script>
import PostDetailContainer from '~/components/desktop/pages/post-detail/PostDetailContainer.vue'
export default {
  components: { PostDetailContainer },
  props: {
    post: {
      type: Object,
      default: () => ({}),
    },
  },
}
</script>
