<template>
  <div class="py-24 lg:py-28">
    <div class="container">
      <h2
        class="lg:text-[34px] lg:leading-[50px] text-[24px] leading-[30px] text-111 mb-6 lg:mb-8 text-center font-medium lg:font-semibold"
      >
        {{ post.title }}
      </h2>
      <!-- eslint-disable vue/no-v-html -->
      <div
        class="text-000 text-justify leading-6 content"
        v-html="post.content"
      ></div>
      <span class="inline-block text-14-24 text-555 font-medium mt-4">{{
        formatTime(post.createdAt)
      }}</span>
    </div>
  </div>
</template>

<script>
import formatTimeMixin from '@/mixins/formatTimeMixin'
export default {
  mixins: [formatTimeMixin],
  props: {
    post: {
      type: Object,
      default: () => ({}),
    },
  },
}
</script>

<style lang="scss">
.content {
  ul,
  ol {
    list-style: auto;
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }
  p {
    color: #333;
    margin: 16px 0;
  }
  code {
    background-color: rgba(88, 5, 255, 0.05);
    border-radius: 0.4rem;
    color: #000;
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: #000;
    border-radius: 0.5rem;
    color: #fff;
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  blockquote {
    border-left: 3px solid rgba(61, 37, 20, 0.12);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }
}
</style>
