<template>
  <div>
    <banner />
    <job-grid />
  </div>
</template>

<script>
import Banner from '@/components/mobile/pages/job/Banner.vue'
import JobGrid from '@/components/desktop/pages/job/JobGrid.vue'

export default {
  components: { Banner, JobGrid },
}
</script>
