<template>
  <div class="relative bg-007456">
    <div class="py-[56px] min-h-[525px]"></div>
    <div
      class="absolute top-0 mt-[135px] sm:mt-[145px] left-1/2 -translate-x-1/2 container"
    >
      <h2 class="text-[34px] font-semibold text-111 leading-[40px] text-wrap">
        Tìm kiếm việc làm nhanh nhất tại nhà, mọi lúc mọi nơi
      </h2>
      <p class="text-16-25 text-000 mb-6">
        Khám phá nhiều việc làm hấp dẫn, phù hợp với khả năng của bạn
      </p>
      <button-primary
        title="Tìm kiếm"
        icon="icon-search-white"
        class="mx-auto w-full sm:w-1/2"
        @click="$router.push(routesUrl.JOB)"
      />
    </div>
  </div>
</template>

<script>
import { routesUrl } from '~/constants'
export default {
  computed: {
    routesUrl() {
      return routesUrl
    },
  },
}
</script>
