<template>
  <div class="py-28 bg-banner-find-company bg-no-repeat bg-center bg-cover">
    <div class="container mt-5">
      <h2
        class="text-[34px] leading-[50px] text-111 mb-8 text-center font-semibold"
      >
        Tìm công ty bạn quan tâm
      </h2>

      <div
        class="grid grid-cols-8 bg-white rounded-[32px] text-16-25 font-medium text-111 shadow-input-default"
      >
        <div
          class="col-span-5 flex items-center gap-2 py-2.5 px-4 border-r border-border2"
        >
          <static-svg name="icon-search" class="w-5 h-5" />
          <input
            v-model="name"
            class="flex-1 py-1.5 none-border-outline"
            placeholder="Nhập tên công ty tìm kiếm..."
            @keyup.enter="handleSearch"
          />
        </div>
        <div
          class="col-span-2 flex items-center py-2.5 px-4 border-r border-border2"
        >
          <static-svg name="icon-folder" class="w-5 h-5" />
          <el-select
            v-model="province"
            clearable
            placeholder="Địa điểm"
            class="w-full !border-none !outline-none"
          >
            <el-option
              v-for="item in options"
              :key="item.province_id"
              :label="item.province_name"
              :value="item.province_name"
            >
            </el-option>
          </el-select>
        </div>
        <div class="col-span-1 flex items-center justify-center">
          <button-primary title="Tìm kiếm" @click="handleSearch" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapActions } from 'vuex'
import provinceMixin from '~/mixins/provinceMixin'

export default {
  mixins: [provinceMixin],
  data() {
    return {
      name: this.$store.state.company.name,
      province: this.$store.state.company.province,
    }
  },
  methods: {
    ...mapActions('company', {
      changeName: 'changeName',
      changeProvince: 'changeProvince',
    }),
    handleSearch() {
      this.changeName(this.name.trim())
      this.changeProvince(this.province.trim())
    },
  },
}
</script>
