<template>
  <div>
    <banner />
    <company-grid />
  </div>
</template>

<script>
import Banner from '@/components/desktop/pages/company/Banner.vue'
import CompanyGrid from '@/components/desktop/pages/company/CompanyGrid.vue'

export default {
  components: { Banner, CompanyGrid },
}
</script>
