<template>
  <component :is="nameComponent" />
</template>

<script>
import pageMixin from '~/mixins/pageMixin'

export default {
  name: 'PostPage',
  auth: false,
  components: {
    PostDesktop: () => import('@/components/desktop/pages/post/Post.vue'),
    PostMobile: () => import('@/components/mobile/pages/post/Post.vue'),
  },
  mixins: [pageMixin],
  head() {
    const title = 'Xem danh sách bài viết'
    const des = ''
    const keyword =
      'Future, future, tim kiem, viec lam, nhanh chong, tin cay, hieu qua, uy tin'
    const image = `${process.env.BASE_URL}/images/thumb-seo.png`
    return {
      ...this.headPage(title, des, keyword, image),
    }
  },
  computed: {
    nameComponent() {
      return this.isDesktop ? 'PostDesktop' : 'PostMobile'
    },
  },
}
</script>
