<template>
  <div class="flex flex-col gap-3">
    <text-title-base title="Tất cả thông báo" />
    <div class="flex flex-col">
      <div
        v-for="(item, index) in notiList"
        :key="index"
        class="flex items-start gap-2 p-2 cursor-pointer noti-item"
        :class="{ isRead: !item.isRead }"
        @click="readNoti(item)"
      >
        <static-image
          v-if="item.sender.logo"
          :url="item.sender.logo"
          class="w-12 h-12"
        />
        <static-image v-else name="no-image" class="w-12 h-12" />
        <div class="flex flex-col">
          <h4 class="text-16-22 text-111 font-medium line-clamp-1">
            {{ item.sender.companyName }}
          </h4>
          <p class="text-[14px] leading-4 text-555 line-clamp-2">
            {{ renderStatus(item.content) }}
          </p>
          <span class="text-14-24 text-555 font-medium">{{
            formatDate(item.createdAt)
          }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import formatTimeMixin from '@/mixins/formatTimeMixin'
import { apiList } from '~/apis/apiList'
export default {
  mixins: [formatTimeMixin],
  props: {
    close: {
      type: Function,
      default: () => ({}),
    },
  },
  computed: {
    ...mapGetters('notis', {
      notiList: 'notiList',
    }),
  },
  methods: {
    ...mapActions('notis', {
      updateNoti: 'updateNoti',
    }),
    renderStatus(status) {
      switch (`${status}`) {
        case '1':
          return 'đã đồng ý CV của bạn. Chúng tôi sẽ liên hệ với bạn trong thời gian sắp tới.'
        case '2':
          return 'đã từ chối CV của bạn. Rất tiếc bạn chưa phù hợp với công ty.'
        case '0':
          return 'đã đổi trạng thái CV của bạn thành Chờ xử lý.'
      }
    },
    readNoti(noti) {
      if (!noti.isRead) {
        this.updateNoti({ id: `${noti.id}`, isRead: true })
        this.$customAxios.$patch(
          apiList.NOTIFICATIONS.DETAIL.replace(':id', noti.id),
          {
            isRead: true,
          }
        )
      }
      const path = this.routeCompanyDetail({
        id: noti.sender.id,
        name: noti.sender.companyName,
      })
      this.$router.push(path)
      this.close()
    },
  },
}
</script>

<style scoped>
.noti-item {
  &:hover,
  &.isRead {
    background-color: #0074560d;
  }
}
</style>
