<template>
  <component :is="nameComponent" />
</template>

<script>
import pageMixin from '~/mixins/pageMixin'

export default {
  name: 'JobPage',
  auth: false,
  components: {
    JobDesktop: () => import('@/components/desktop/pages/job/Job.vue'),
    JobMobile: () => import('@/components/mobile/pages/job/Job.vue'),
  },
  mixins: [pageMixin],
  head() {
    const title = 'Tìm kiếm các việc làm hấp dẫn trên Future dễ dàng'
    const des = ''
    const keyword =
      'Future, future, tim kiem, viec lam, nhanh chong, tin cay, hieu qua, cong ty, de dang, uy tin'
    const image = `${process.env.BASE_URL}/images/thumb-seo.png`
    return {
      ...this.headPage(title, des, keyword, image),
    }
  },
  computed: {
    nameComponent() {
      return this.isDesktop ? 'JobDesktop' : 'JobMobile'
    },
  },
}
</script>
