<template>
  <div>
    <el-divider></el-divider>
    <div class="container py-10">
      <div class="grid grid-cols-5">
        <div class="col-span-1">
          <div class="flex flex-col">
            <text-title-base title="Giới thiệu" class="!mb-6" />
            <text-base
              title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mauris risus, lobortis a commodo at, varius sit amet ipsum."
            />
            <div class="flex flex-col gap-1 mt-6">
              <text-base title="future@hello.com" icon="footer/icon-mail" />
              <text-base title="0123456789" icon="footer/icon-phone" />
            </div>
          </div>
        </div>
        <div class="col-span-1 flex justify-center">
          <div class="flex flex-col">
            <text-title-base title="Công ty" class="!mb-6" />
            <div class="flex flex-col gap-3">
              <text-base
                v-for="(item, index) in footer.company"
                :key="index"
                :title="item.text"
              />
            </div>
          </div>
        </div>
        <div class="col-span-1 flex justify-center">
          <div class="flex flex-col">
            <text-title-base title="Dịch vụ" class="!mb-6" />
            <div class="flex flex-col gap-3">
              <text-base
                v-for="(item, index) in footer.service"
                :key="index"
                :title="item.text"
              />
            </div>
          </div>
        </div>
        <div class="col-span-1 flex justify-center">
          <div class="flex flex-col">
            <text-title-base title="Chính sách" class="!mb-6" />
            <div class="flex flex-col gap-3">
              <text-base
                v-for="(item, index) in footer.policies"
                :key="index"
                :title="item.text"
              />
            </div>
          </div>
        </div>
        <div class="col-span-1 flex justify-center">
          <div class="flex flex-col">
            <text-title-base title="Kết nối" class="!mb-6" />
            <div class="flex flex-col gap-3">
              <text-base
                v-for="(item, index) in footer.connect"
                :key="index"
                :title="item.text"
                :icon="item.icon"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <el-divider></el-divider>
    <div class="container py-7">
      <text-base title="© 2024 NVN. All Right Reserved." />
    </div>
  </div>
</template>

<script>
import { footer } from '@/data'

export default {
  computed: {
    footer() {
      return footer
    },
  },
}
</script>
