<template>
  <div class="absolute top-0 left-0 right-0 py-3">
    <div class="container flex justify-between items-center">
      <div class="flex items-center gap-8">
        <nuxt-link
          :to="routesUrl.HOME"
          class="flex items-center justify-center gap-2"
        >
          <static-image name="logo" class="w-10 h-10 object-cover" />
          <h2 class="text-28-21 text-111 font-bold">Future</h2>
        </nuxt-link>

        <div class="flex items-center gap-3">
          <div v-for="(item, index) in navBarList" :key="index">
            <nuxt-link
              exact-active-class="active-link"
              :to="item.to"
              class="py-2 px-3 text-16-25 text-555 font-medium hover:text-0074"
              >{{ item.title }}</nuxt-link
            >
          </div>
        </div>
      </div>

      <div v-if="!loggedInUser" class="flex items-center gap-2">
        <button-link :to="routesUrl.SIGN_IN" title="Đăng nhập" />
        <button-primary title="Đăng tuyển" />
      </div>
      <div v-else>
        <div class="flex items-center gap-3">
          <div class="flex items-center gap-[2px]">
            <el-popover placement="bottom" trigger="click" class="notification">
              <notification v-if="notiList.length > 0" />
              <el-empty v-else :image-size="80" class="mx-auto"></el-empty>
              <div
                slot="reference"
                class="flex items-center justify-center px-2"
              >
                <el-badge :value="notiCount > 0 ? notiCount : ''"
                  ><static-svg name="icon-bell" class="w-6"
                /></el-badge>
              </div>
            </el-popover>
            <!-- <div
              class="flex items-center justify-center px-2"
              @click="$router.push(routesUrl.CONVERSATION)"
            >
              <el-badge :value="chatUnreadCount > 0 ? chatUnreadCount : ''"
                ><static-svg name="icon-messenger" class="w-6"
              /></el-badge>
            </div> -->
          </div>
          <el-dropdown placement="bottom-end" trigger="click">
            <div class="flex gap-2 items-center cursor-pointer">
              <static-image
                v-if="loggedInUser.avatar"
                :url="loggedInUser.avatar"
                class="w-8 h-8 rounded-full object-cover"
              />
              <static-svg
                v-else
                name="icon-user-default"
                class="w-8 h-8 object-cover"
              />
              <div class="flex flex-col">
                <h4 class="text-[16px] leading-5 text-111 font-medium">
                  {{ loggedInUser.fullname }}
                </h4>
                <span class="text-[12px] font-medium text-555">{{
                  loggedInUser.isVerify ? 'Xác thực' : 'Chưa xác thực'
                }}</span>
              </div>
            </div>
            <el-dropdown-menu slot="dropdown">
              <div class="flex flex-col gap-1 min-w-[160px]">
                <div
                  v-for="(option, index) in userOption"
                  :key="index"
                  class="flex items-center justify-start gap-3 px-4 py-1 hover:bg-007456 cursor-pointer"
                  @click="redirect(option.to)"
                >
                  <static-svg :name="option.icon" class="w-[22px] h-[22px]" />
                  <p class="text-14-24 text-555 font-medium">
                    {{ option.title }}
                  </p>
                </div>
              </div>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import notificationMixin from '~/mixins/notificationMixin'
import connectSocketMixin from '~/mixins/connectSocketMixin'

import Notification from '@/components/desktop/layouts/common/notification/Notification.vue'
import { navBarList, userOption } from '~/data'
import { routesUrl } from '~/constants/routes'

export default {
  components: { Notification },
  mixins: [connectSocketMixin, notificationMixin],
  computed: {
    navBarList() {
      return navBarList
    },
    routesUrl() {
      return routesUrl
    },
    userOption() {
      return userOption
    },
  },
  methods: {
    logout() {
      this.$auth.logout()
      this.$router.push(routesUrl.SIGN_IN)
    },
    redirect(to) {
      if (to) {
        this.$router.push(to)
      } else {
        this.logout()
      }
    },
  },
}
</script>

<style scoped>
.active-link {
  color: #007456;
}
</style>
