<template>
  <div class="relative">
    <the-header />
    <slot />
    <the-footer />
  </div>
</template>

<script>
import TheHeader from '@/components/desktop/layouts/TheHeader.vue'
import TheFooter from '@/components/desktop/layouts/TheFooter.vue'

export default {
  components: { TheHeader, TheFooter },
}
</script>
