<template>
  <div class="height-not-header mt-16 bg-white">
    <the-header />
    <div class="grid grid-cols-12 h-full">
      <div class="col-span-2 border-r border-border height-not-header">
        <conversation-sidebar />
      </div>
      <div class="col-span-10 height-not-header">
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
import TheHeader from '@/components/desktop/layouts/TheHeader.vue'
import ConversationSidebar from '@/components/desktop/layouts/common/sidebar/ConversationSidebar.vue'
export default {
  components: { ConversationSidebar, TheHeader },
}
</script>
