<template>
  <div>
    <post-me-grid />
  </div>
</template>

<script>
import PostMeGrid from '@/components/desktop/pages/post-me/PostMeGrid.vue'
export default {
  components: { PostMeGrid },
}
</script>
