<template>
  <nuxt-link
    :to="redirect"
    class="flex flex-col items-center p-5 border border-border2 bg-category-item rounded-2xl cursor-pointer transition-shadow ease-in duration-300 hover:shadow-default"
  >
    <div
      class="flex items-center justify-center w-12 h-12 rounded-full bg-0074 text-white"
    >
      <div
        v-if="item.icon && item.icon.includes('<svg')"
        ref="iconSvg"
        class="flex items-center justify-center w-[18px] h-[18px]"
      ></div>
      <div v-else class="flex items-center justify-center w-6 h-6">
        <i class="el-icon-circle-plus-outline"></i>
      </div>
    </div>
    <h4 class="text-18-23 text-111 font-semibold mt-4 text-wrap text-center">
      {{ item.label }}
    </h4>
  </nuxt-link>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => {},
    },
  },
  computed: {
    redirect() {
      return this.routeCateDetail({ id: this.item.id, name: this.item.label })
    },
  },
  mounted() {
    if (this.$refs.iconSvg) {
      this.$refs.iconSvg.innerHTML = this.item.icon
    }
  },
}
</script>
