<template>
  <div class="container py-[52px]">
    <h3 class="text-28-34 text-111 text-center font-semibold">
      Tìm kiếm bằng danh mục
    </h3>
    <p class="text-18-23 text-555 mt-3 text-center">
      Duyệt qua các cơ hội trong các danh mục đó
    </p>
    <div v-if="!isLoading">
      <div
        v-if="cateList.length > 0"
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 2xl:grid-cols-6 gap-4 mt-12"
      >
        <div v-for="(item, index) in cateList" :key="index" class="col-span-1">
          <category-item :item="item" />
        </div>
      </div>
      <el-empty v-else :image-size="80" class="mx-auto"></el-empty>
    </div>
    <div
      v-else
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 2xl:grid-cols-6 gap-4 mt-12"
    >
      <div class="col-span-1"><skeleton-item /></div>
      <div class="col-span-1"><skeleton-item /></div>
      <div class="col-span-1"><skeleton-item /></div>
      <div class="col-span-1"><skeleton-item /></div>
      <div class="col-span-1"><skeleton-item /></div>
      <div class="col-span-1"><skeleton-item /></div>
    </div>
    <button-primary
      v-if="!(page >= totalPage) && cateList.length > 0"
      title="Xem thêm"
      class="mt-6 mx-auto"
      @click="page++"
    />
  </div>
</template>

<script>
import CategoryItem from '@/components/desktop/pages/home/CategoryItem.vue'
import { apiList } from '@/apis/apiList.js'
export default {
  components: { CategoryItem },
  data() {
    return {
      cateList: [],
      page: 1,
      totalPage: 1,
      isLoading: false,
    }
  },
  watch: {
    page() {
      return this.getCateList()
    },
  },
  created() {
    this.getCateList()
  },
  methods: {
    async getCateList() {
      this.isLoading = true
      const resp = await this.$customAxios
        .$get(apiList.CATEGORIES.DEFAULT, {
          params: {
            page: this.page,
            limit: 6,
          },
        })
        .then((res) => res)
        .catch((error) => console.log(error))

      this.isLoading = false
      this.totalPage = resp.meta.pages
      this.cateList = [...this.cateList, ...resp.data]
    },
  },
}
</script>
