<template>
  <div class="container py-[52px]">
    <h3 class="text-28-34 text-111 text-center font-semibold">
      Các công ty nổi bật
    </h3>
    <p class="text-18-23 text-555 mt-3 text-center">
      Hãy tìm những công ty phù hợp với bạn!
    </p>
    <div v-if="!isLoading" class="mt-12">
      <ssr-carousel
        show-arrows
        show-dots
        no-drag
        :slides-per-page="5"
        :gutter="22"
        :peek-right="100"
        :autoplay-delay="4"
        :responsive="[
          {
            maxWidth: 1280,
            slidesPerPage: 4,
          },
          {
            maxWidth: 768,
            slidesPerPage: 3,
          },
          {
            maxWidth: 640,
            slidesPerPage: 2,
          },
        ]"
      >
        <div
          v-for="(item, index) in companiesList"
          :key="index"
          class="slide overflow-hidden rounded-xl"
        >
          <div @click="redirectCompanyDetail(item)">
            <static-image
              v-if="item.logo"
              :url="item.logo"
              class="company-logo w-full rounded-xl hover:scale-[1.1]"
            />
            <static-image
              v-else
              name="no-image"
              class="company-logo w-full rounded-xl hover:scale-[1.1]"
            />
          </div>
        </div>

        <template #back-arrow="{ disabled }">
          <button-arrow-slide icon="back" :disabled="disabled" />
        </template>

        <template #next-arrow="{ disabled }">
          <button-arrow-slide icon="next" :disabled="disabled" />
        </template>
      </ssr-carousel>
    </div>
    <div v-else class="mt-12">
      <skeleton-item />
    </div>
  </div>
</template>

<script>
import { apiList } from '@/apis/apiList.js'
export default {
  data() {
    return {
      companiesList: [],
      isLoading: false,
    }
  },
  created() {
    this.getCompaniesList()
  },
  methods: {
    redirectCompanyDetail(item) {
      if (item) {
        const path = this.routeCompanyDetail({
          id: item.id,
          name: item.name,
        })
        this.$router.push(path)
      }
    },
    async getCompaniesList() {
      this.isLoading = true
      const resp = await this.$customAxios
        .$get(apiList.COMPANIES.DEFAULT, {
          params: {
            page: 1,
            limit: 12,
          },
        })
        .then((res) => res)
        .catch((error) => console.log(error))

      this.isLoading = false
      this.companiesList = resp.data.map((compa) => ({
        id: compa.id,
        logo: compa.logo,
        name: compa.companyName,
      }))
    },
  },
}
</script>

<style scoped>
.company-logo {
  transition: transform 0.4s ease-in;
}
</style>
