<template>
  <div>
    <home-banner />
    <categories-grid />
    <job-grid />
    <companies-carousel />
    <post-grid />
  </div>
</template>

<script>
import HomeBanner from '@/components/desktop/pages/home/HomeBanner.vue'
import CategoriesGrid from '@/components/desktop/pages/home/CategoriesGrid.vue'
import JobGrid from '@/components/desktop/pages/home/JobGrid.vue'
import CompaniesCarousel from '@/components/desktop/pages/home/CompaniesCarousel.vue'
import PostGrid from '@/components/desktop/pages/home/PostGrid.vue'

export default {
  components: {
    HomeBanner,
    CategoriesGrid,
    JobGrid,
    CompaniesCarousel,
    PostGrid,
  },
}
</script>
