<template>
  <div class="bg-007456">
    <div
      class="bg-banner-home bg-no-repeat py-[65px] min-h-[625px] banner-home"
    ></div>
    <div class="absolute top-0 mt-[218px] left-1/2 -translate-x-1/2 container">
      <div class="grid xl:grid-cols-2 grid-cols-3">
        <div class="xl:col-span-1 col-span-2">
          <div class="flex w-full">
            <h2
              class="text-[40px] font-semibold text-111 leading-[65px] text-nowrap"
            >
              Tìm kiếm việc làm
            </h2>
            <h2
              class="text-[40px] font-semibold text-111 leading-[65px] ml-3 text-nowrap typing"
            >
              {{ typingText }}
            </h2>
          </div>
          <h2 class="text-[40px] font-semibold text-111 leading-[65px]">
            tại nhà, mọi lúc mọi nơi
          </h2>
          <p class="text-18-23 text-000 mb-6">
            Khám phá nhiều việc làm hấp dẫn, phù hợp với khả năng của bạn
          </p>
          <button-primary
            title="Tìm kiếm"
            icon="icon-search-white"
            @click="$router.push(routesUrl.JOB)"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { routesUrl } from '~/constants'

export default {
  data() {
    return {
      typingText: 'nhanh nhất',
      timer: null,
    }
  },
  computed: {
    routesUrl() {
      return routesUrl
    },
  },
  mounted() {
    this.changeTypingText()
  },
  beforeDestroy() {
    clearTimeout(this.timer)
  },
  methods: {
    changeTypingText() {
      this.timer = setTimeout(() => {
        this.typingText = 'hấp dẫn'
      }, 3000)
    },
  },
}
</script>

<style scoped>
.banner-home {
  background-position: 78% 58%;
  background-size: 30% auto;
}

.typing {
  width: 100%;
  overflow: hidden;
  color: #007456;
  animation: typingRun 3s steps(15) infinite;
}

@keyframes typingRun {
  from {
    width: 0;
  }
}
</style>
