<template>
  <div class="bg-007456">
    <div class="container py-[52px]">
      <h3 class="text-28-34 text-111 text-center font-semibold">
        Việc làm nổi bật
      </h3>
      <p class="text-18-23 text-555 mt-3 text-center">
        Khám phá cơ hội việc làm hơn 1K
      </p>
      <div v-if="!isLoading">
        <div
          v-if="jobList.length > 0"
          class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-4 mt-12"
        >
          <div v-for="(item, index) in jobList" :key="index" class="col-span-1">
            <job-item-horizontial :job="item" />
          </div>
        </div>
        <el-empty v-else :image-size="80" class="mx-auto"></el-empty>
      </div>
      <div
        v-else
        class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-4 mt-12"
      >
        <div class="col-span-1"><skeleton-item /></div>
        <div class="col-span-1"><skeleton-item /></div>
        <div class="col-span-1"><skeleton-item /></div>
      </div>
      <div v-if="jobList.length > 0" class="flex justify-center mt-5">
        <button-link
          title="Xem thêm"
          :to="routesUrl.JOB"
          class="inline-block underline"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { apiList } from '@/apis/apiList.js'
import { routesUrl } from '~/constants'
export default {
  data() {
    return {
      jobList: [],
      isLoading: false,
    }
  },
  computed: {
    routesUrl() {
      return routesUrl
    },
  },
  created() {
    this.getJobList()
  },
  methods: {
    async getJobList() {
      this.isLoading = true
      const resp = await this.$customAxios
        .$get(apiList.JOBS.DEFAULT, {
          params: {
            page: 1,
            limit: 9,
          },
        })
        .then((res) => res.data)
        .catch((error) => console.log(error))

      this.isLoading = false
      this.jobList = resp
    },
  },
}
</script>
