<template>
  <div class="container py-[52px]">
    <h3 class="text-28-34 text-111 text-center font-semibold">Bài viết</h3>
    <div v-if="!isLoading">
      <div
        v-if="postList.length > 0"
        class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-4 mt-12"
      >
        <div v-for="(item, index) in postList" :key="index" class="col-span-1">
          <post-item :post="item" />
        </div>
      </div>
      <el-empty v-else :image-size="80" class="mx-auto"></el-empty>
    </div>
    <div
      v-else
      class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-4 mt-12"
    >
      <div class="col-span-1"><skeleton-item /></div>
      <div class="col-span-1"><skeleton-item /></div>
      <div class="col-span-1"><skeleton-item /></div>
    </div>
  </div>
</template>

<script>
import { apiList } from '~/apis/apiList'

export default {
  data() {
    return {
      postList: [],
      isLoading: false,
    }
  },
  created() {
    this.getPostList()
  },
  methods: {
    async getPostList() {
      this.isLoading = true
      const resp = await this.$customAxios
        .$get(apiList.POSTS.DEFAULT, {
          params: {
            page: 1,
            limit: 6,
          },
        })
        .then((res) => res)
        .catch((error) => console.log(error))

      this.isLoading = false
      this.postList = resp.data
    },
  },
}
</script>
