<template>
  <component :is="nameComponent" />
</template>

<script>
export default {
  name: 'ConversationPage',
  components: {
    ConversationDesktop: () =>
      import('@/components/desktop/pages/conversation/Conversation.vue'),
    ConversationMobile: () =>
      import('@/components/mobile/pages/conversation/Conversation.vue'),
  },
  layout: 'conversation',
  computed: {
    nameComponent() {
      return this.isDesktop ? 'ConversationDesktop' : 'ConversationMobile'
    },
  },
}
</script>
