<template>
  <component :is="nameComponent" />
</template>

<script>
import pageMixin from '~/mixins/pageMixin'

export default {
  name: 'PostPage',
  components: {
    PostCreateDesktop: () =>
      import('@/components/desktop/pages/post-create/PostCreate.vue'),
    PostCreateMobile: () =>
      import('@/components/mobile/pages/post-create/PostCreate.vue'),
  },
  mixins: [pageMixin],
  head() {
    const title = 'Tạo bài viết'
    const des = ''
    const keyword =
      'Future, future, tim kiem, viec lam, nhanh chong, tin cay, hieu qua, uy tin'
    const image = `${process.env.BASE_URL}/images/thumb-seo.png`
    return {
      ...this.headPage(title, des, keyword, image),
    }
  },
  computed: {
    nameComponent() {
      return this.isDesktop ? 'PostCreateDesktop' : 'PostCreateMobile'
    },
  },
}
</script>
