<template>
  <component :is="nameComponent" />
</template>

<script>
import pageMixin from '~/mixins/pageMixin'

export default {
  name: 'PasswordPage',
  components: {
    PasswordDesktop: () =>
      import('@/components/desktop/pages/password/Password.vue'),
    PasswordMobile: () =>
      import('@/components/mobile/pages/password/Password.vue'),
  },
  mixins: [pageMixin],
  head() {
    const title = 'Đổi mật khẩu tại Future'
    const des = ''
    const keyword =
      'Future, future, tim kiem, viec lam, nhanh chong, tin cay, hieu qua, uy tin'
    const image = `${process.env.BASE_URL}/images/thumb-seo.png`
    return {
      ...this.headPage(title, des, keyword, image),
    }
  },
  computed: {
    nameComponent() {
      return this.isDesktop ? 'PasswordDesktop' : 'PasswordMobile'
    },
  },
}
</script>
