<template>
  <div class="py-24 lg:py-28">
    <div class="container">
      <h2
        class="lg:text-[34px] lg:leading-[50px] text-[24px] leading-[30px] text-111 mb-6 lg:mb-8 text-center font-medium lg:font-semibold"
      >
        Hồ sơ đã gửi
      </h2>
      <div
        v-if="resumesList.length > 0"
        class="flex items-center justify-end gap-2 sm:gap-4 text-18-23 text-111 font-medium mb-6"
      >
        <p class="text-18-23 text-111 font-medium">Sắp xếp</p>
        <el-dropdown placement="bottom-end" trigger="click">
          <div class="flex items-center gap-2">
            <p class="text-16-25 text-555">{{ orderName }}</p>
            <static-svg name="icon-arrow-down" class="w-3 h-3" />
          </div>
          <el-dropdown-menu slot="dropdown">
            <p
              class="text-14-24 text-555 font-medium px-2 cursor-pointer hover:bg-007456 hover:text-0074"
              :class="
                orderBy == 'DESC' ? 'bg-007456 text-0074 font-semibold' : ''
              "
              @click="orderBy = 'DESC'"
            >
              Mới nhất
            </p>
            <p
              class="text-14-24 text-555 font-medium px-2 cursor-pointer hover:bg-007456 hover:text-0074"
              :class="
                orderBy == 'ASC' ? 'bg-007456 text-0074 font-semibold' : ''
              "
              @click="orderBy = 'ASC'"
            >
              Lâu nhất
            </p>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
      <div v-if="!isLoading">
        <el-table :data="resumesList" style="width: 100%" @row-click="clickRow">
          <el-table-column
            prop="fullname"
            label="Họ tên"
            width="200"
          ></el-table-column>
          <el-table-column
            prop="email"
            label="Email"
            width="250"
          ></el-table-column>
          <el-table-column
            prop="job.name"
            label="Việc làm"
            width="250"
          ></el-table-column>
          <el-table-column prop="job.location" label="Địa điểm" width="250">
          </el-table-column>
          <el-table-column label="Ngày gửi" width="160">
            <template slot-scope="scope">
              {{ formatDate(scope.row.createdAt) }}
            </template>
          </el-table-column>
          <el-table-column prop="status" label="Trạng thái" width="130">
            <template slot-scope="scope">
              <el-tag :type="status[scope.row.status].type">{{
                status[scope.row.status].label
              }}</el-tag>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div v-else>
        <skeleton-item />
      </div>

      <el-pagination
        v-if="totalPage > 0"
        layout="prev, pager, next"
        :total="totalPage * 10"
        class="mt-4"
        @current-change="changePage"
      >
      </el-pagination>
    </div>
  </div>
</template>

<script>
import { apiList } from '~/apis/apiList'
import formatTimeMixin from '~/mixins/formatTimeMixin'
import { status } from '~/data'

export default {
  mixins: [formatTimeMixin],
  data() {
    return {
      resumesList: [],
      isLoading: false,
      totalItem: 0,
      orderBy: 'DESC',
      page: 1,
      totalPage: 0,
    }
  },
  computed: {
    status() {
      return status
    },
    orderName() {
      if (this.orderBy === 'DESC') {
        return 'Mới nhất'
      } else {
        return 'Lâu nhất'
      }
    },
  },
  watch: {
    orderBy() {
      return this.getResumesList()
    },
    page() {
      return this.getResumesList()
    },
  },
  created() {
    this.getResumesList()
  },
  methods: {
    clickRow(item) {
      if (item.job.category) {
        const path = this.routeJobDetail({
          cateLabel: item.job.category.label,
          id: item.job.id,
          jobName: item.job.name,
        })
        this.$router.push(path)
      }
    },
    changePage(newPage) {
      this.page = newPage
      window.scrollTo({
        top: 356,
        behavior: 'smooth',
      })
    },
    async getResumesList() {
      this.isLoading = true
      const resp = await this.$customAxios
        .$get(apiList.RESUMES.SENDED, {
          params: {
            page: this.page,
            orderBy: this.orderBy,
            limit: 10,
          },
        })
        .then((res) => res)
        .catch((error) => console.log(error))

      this.isLoading = false
      this.resumesList = resp.data
      this.totalItem = resp.meta.total
      this.totalPage = resp.meta.pages
    },
  },
}
</script>
