<template>
  <div class="py-24 lg:py-28">
    <div class="container">
      <h2
        class="lg:text-[34px] lg:leading-[50px] text-[24px] leading-[30px] text-111 mb-6 lg:mb-8 text-center font-medium lg:font-semibold"
      >
        Bài viết của tôi
      </h2>
      <div
        v-if="postList.length > 0"
        class="flex items-center justify-end gap-2 sm:gap-4 text-18-23 text-111 font-medium mb-6"
      >
        <p class="text-18-23 text-111 font-medium">Sắp xếp</p>
        <el-dropdown placement="bottom-end" trigger="click">
          <div class="flex items-center gap-2">
            <p class="text-16-25 text-555">{{ orderName }}</p>
            <static-svg name="icon-arrow-down" class="w-3 h-3" />
          </div>
          <el-dropdown-menu slot="dropdown">
            <p
              class="text-14-24 text-555 font-medium px-2 cursor-pointer hover:bg-007456 hover:text-0074"
              :class="
                orderBy == 'DESC' ? 'bg-007456 text-0074 font-semibold' : ''
              "
              @click="orderBy = 'DESC'"
            >
              Mới nhất
            </p>
            <p
              class="text-14-24 text-555 font-medium px-2 cursor-pointer hover:bg-007456 hover:text-0074"
              :class="
                orderBy == 'ASC' ? 'bg-007456 text-0074 font-semibold' : ''
              "
              @click="orderBy = 'ASC'"
            >
              Lâu nhất
            </p>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
      <div v-if="!isLoading">
        <div
          v-if="postList.length > 0"
          class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-4"
        >
          <div
            v-for="(item, index) in postList"
            :key="index"
            class="col-span-1"
          >
            <post-item :post="item" />
          </div>
        </div>
        <el-empty v-else :image-size="80" class="mx-auto"></el-empty>
      </div>
      <div v-else class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-4">
        <div class="col-span-1"><skeleton-item /></div>
        <div class="col-span-1"><skeleton-item /></div>
        <div class="col-span-1"><skeleton-item /></div>
      </div>
      <el-pagination
        v-if="totalPage > 0"
        layout="prev, pager, next"
        :total="totalPage * 10"
        class="mt-4"
        @current-change="changePage"
      >
      </el-pagination>
    </div>
  </div>
</template>

<script>
import { apiList } from '~/apis/apiList'

export default {
  data() {
    return {
      postList: [],
      isLoading: false,
      totalItem: 0,
      orderBy: 'DESC',
      page: 1,
      totalPage: 0,
    }
  },
  computed: {
    orderName() {
      if (this.orderBy === 'DESC') {
        return 'Mới nhất'
      } else {
        return 'Lâu nhất'
      }
    },
  },
  watch: {
    orderBy() {
      return this.getPostList()
    },
    page() {
      return this.getPostList()
    },
  },
  created() {
    this.getPostList()
  },
  methods: {
    changePage(newPage) {
      this.page = newPage
      window.scrollTo({
        top: 356,
        behavior: 'smooth',
      })
    },
    async getPostList() {
      this.isLoading = true
      const resp = await this.$customAxios
        .$get(apiList.POSTS.ME, {
          params: {
            page: this.page,
            orderBy: this.orderBy,
            limit: 10,
          },
        })
        .then((res) => res)
        .catch((error) => console.log(error))

      this.isLoading = false
      this.postList = resp.data
      this.totalItem = resp.meta.total
      this.totalPage = resp.meta.pages
    },
  },
}
</script>
