<template>
  <div class="min-h-[100vh] bg-faf4 grid grid-cols-2">
    <div class="col-span-1 flex items-center justify-center">
      <div class="w-[500px] p-8 bg-white rounded-xl">
        <sign-up-content />
      </div>
    </div>
    <div class="col-span-1 flex items-center justify-center">
      <static-image name="banner-register" type="webp" />
    </div>
  </div>
</template>

<script>
import SignUpContent from '@/components/desktop/pages/auth/SignUpContent.vue'

export default {
  components: { SignUpContent },
}
</script>
