<template>
  <div class="flex flex-col items-center w-full">
    <nuxt-link
      :to="routesUrl.HOME"
      class="inline-flex items-center justify-center gap-2 mb-10"
    >
      <static-image name="logo" class="w-10 h-10 object-cover" />
      <h2 class="text-28-21 text-111 font-bold">Future</h2>
    </nuxt-link>

    <div class="flex flex-col gap-5 w-full">
      <div class="flex flex-col gap-1">
        <div class="flex flex-col gap-2">
          <label
            for="email"
            class="inline-block text-16-25 font-medium text-555 w-fit"
            >Email</label
          >
          <input
            id="email"
            v-model="formData.email"
            type="email"
            placeholder="Nhập email của bạn"
            autocomplete="off"
            class="py-1 px-4 outline-none border border-[#dadce0] text-14-24 rounded-xl focus:border-0074"
            @keyup.enter="handleSubmit"
          />
        </div>
        <span v-if="isRequired(formData.email)" class="text-[14px] text-ff3"
          >Nhập đầy đủ thông tin</span
        >
        <span v-if="isValidEmail()" class="text-[14px] text-ff3"
          >Nhập đúng định dạng email</span
        >
      </div>
      <div class="flex flex-col gap-1">
        <div class="flex flex-col gap-2">
          <label
            for="password"
            class="inline-block text-16-25 font-medium text-555 w-fit"
            >Mật khẩu</label
          >
          <div class="relative">
            <input
              id="password"
              v-model="formData.password"
              :type="isViewPassword ? 'text' : 'password'"
              placeholder="Nhập mật khẩu của bạn"
              autocomplete="off"
              class="w-full py-1 pl-4 pr-8 outline-none border border-[#dadce0] text-14-24 rounded-xl focus:border-0074"
              @keyup.enter="handleSubmit"
            />
            <static-svg
              :name="isViewPassword ? 'icon-eye' : 'icon-uneye'"
              class="absolute right-3 top-1/2 -translate-y-1/2 w-3.5 h-3.5"
              @click="isViewPassword = !isViewPassword"
            />
          </div>
        </div>
        <span v-if="isRequired(formData.password)" class="text-[14px] text-ff3"
          >Nhập đầy đủ thông tin</span
        >
      </div>
      <button-primary
        title="Đăng nhập"
        class="rounded-xl !py-2 mt-1"
        :loading="submitting"
        @click="handleSubmit"
      />
    </div>

    <p class="text-[15px] text-555 mt-4">
      Bạn chưa có tài khoản.
      <nuxt-link :to="routesUrl.SIGN_UP" class="text-0074 font-medium"
        >Đăng ký ngay</nuxt-link
      >
    </p>

    <div class="flex items-center justify-center gap-4 mt-4">
      <static-svg name="icon-google" class="w-7 h-7" @click="loginWithGoogle" />
      <static-svg name="icon-facebook" class="w-8 h-8" />
    </div>
  </div>
</template>

<script>
import { routesUrl } from '~/constants'
import validationMixin from '~/mixins/validationMixin'

export default {
  mixins: [validationMixin],
  data() {
    return {
      isViewPassword: false,
      submitting: false,
    }
  },
  computed: {
    routesUrl() {
      return routesUrl
    },
  },
  methods: {
    async handleSubmit() {
      this.startValidate = true
      if (
        !this.isValidEmail() &&
        !this.isRequired(this.formData.email) &&
        !this.isRequired(this.formData.password)
      ) {
        this.submitting = true
        try {
          const resp = await this.$auth.loginWith('local', {
            data: {
              username: this.formData.email.trim(),
              password: this.formData.password.trim(),
            },
          })
          if (resp.data) {
            this.$auth.setUserToken(resp.data.accessToken)
          }
        } catch (e) {
          this.$message.error('Email/Password không đúng!')
          console.log(e)
        }
        this.submitting = false
      }
    },
    async loginWithGoogle() {
      await this.$auth.loginWith('google', {
        params: { prompt: 'select_account' },
      })
    },
  },
}
</script>
