<template>
  <div class="min-h-[100vh] bg-faf4 grid grid-cols-2">
    <div class="col-span-1 flex items-center justify-center">
      <div class="w-[500px] p-8 bg-white rounded-xl">
        <sign-in-content />
      </div>
    </div>
    <div class="col-span-1 flex items-center justify-center">
      <static-svg name="icon-banner-login" />
    </div>
  </div>
</template>

<script>
import SignInContent from '@/components/desktop/pages/auth/SignInContent.vue'

export default {
  components: { SignInContent },
}
</script>
