<template>
  <div>
    <div class="py-2.5 px-4 border-b border-border bg-007456">
      <div class="flex gap-3">
        <static-image
          v-if="$store.getters.loggedInUser.avatar"
          :url="$store.getters.loggedInUser.avatar"
          class="w-10 h-10 rounded-full object-cover"
        />
        <static-svg
          v-else
          name="icon-user-default"
          class="w-10 h-10 object-cover"
        />
        <div class="flex flex-col flex-1">
          <div class="flex flex-col">
            <h4 class="text-16-22 text-111 font-medium line-clamp-1">
              {{ $store.getters.loggedInUser.fullname }}
            </h4>
            <p class="text-14-18 text-111 line-clamp-1">
              {{
                $store.getters.loggedInUser.isVerify
                  ? 'Xác thực'
                  : 'Chưa xác thực'
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col">
      <conversation-item
        v-for="(chat, index) in chatList"
        :key="index"
        :item="chat"
        :selected="chatId == chat.id"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { apiList } from '~/apis/apiList'
import { decodeHash } from '~/helpers'
import connectSocketMixin from '~/mixins/connectSocketMixin'
import messageMixin from '~/mixins/messageMixin'
export default {
  mixins: [connectSocketMixin, messageMixin],
  data() {
    return {
      isLoading: false,
    }
  },
  computed: {
    ...mapGetters('messages', {
      chatList: 'chatList',
    }),
    chatId() {
      const chatIdEncode = this.$route.params.slug
      return decodeHash(chatIdEncode)
    },
  },
  created() {
    this.getAllData()
  },
  methods: {
    ...mapActions('messages', {
      setChatList: 'setChatList',
    }),
    async getAllData() {
      this.isLoading = true
      const getUserChats = () => {
        return this.$customAxios
          .$get(apiList.CHATS.ME, {
            params: {
              page: 1,
              limit: 10,
            },
          })
          .then((res) => {
            this.setChatList(res.data)
          })
          .catch((error) => console.log(error))
      }

      await Promise.all([getUserChats()])
      this.isLoading = false
    },
  },
}
</script>
