<template>
  <div>
    <post-create-container />
  </div>
</template>

<script>
import PostCreateContainer from '@/components/desktop/pages/post-create/PostCreateContainer.vue'
export default {
  components: { PostCreateContainer },
}
</script>
