<template>
  <div>
    <el-divider></el-divider>
    <div class="container py-8">
      <div class="flex flex-col">
        <text-title-base title="Giới thiệu" class="!mb-5" />
        <text-base
          title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mauris risus, lobortis a commodo at, varius sit amet ipsum."
        />
        <div class="flex flex-col gap-1 mt-5">
          <text-base title="future@hello.com" icon="footer/icon-mail" />
          <text-base title="0123456789" icon="footer/icon-phone" />
        </div>
      </div>
    </div>
    <el-divider></el-divider>
    <div class="container py-7">
      <text-base title="© 2024 NVN. All Right Reserved." />
    </div>
  </div>
</template>
