<template>
  <div ref="header-mobile" class="fixed top-0 left-0 right-0 py-3 z-10">
    <div class="container">
      <div class="flex items-center justify-between">
        <nuxt-link
          :to="routesUrl.HOME"
          class="flex items-center justify-center gap-2"
        >
          <static-image name="logo" class="w-8 h-8 object-cover" />
          <h2 class="text-28-21 text-111 font-bold">Future</h2>
        </nuxt-link>

        <div class="flex items-center gap-2">
          <div v-if="loggedInUser" class="p-1" @click="notiDrawer = true">
            <el-badge :value="notiCount > 0 ? notiCount : ''"
              ><static-svg name="icon-bell-black" class="w-6"
            /></el-badge>
          </div>
          <div class="pl-1 py-1" @click="drawer = true">
            <static-svg name="icon-menu" class="w-6 h-6" />
          </div>
        </div>

        <el-drawer
          :visible.sync="drawer"
          :with-header="false"
          :append-to-body="true"
          size="70%"
        >
          <div class="p-4">
            <div
              v-if="!loggedInUser"
              class="flex items-center justify-center flex-wrap gap-2 mb-5"
            >
              <button-link :to="routesUrl.SIGN_IN" title="Đăng nhập" />
              <button-primary title="Đăng tuyển" />
            </div>
            <el-menu v-else class="el-menu-vertical-demo">
              <el-submenu index="1">
                <template slot="title">
                  <div class="flex gap-2 items-center cursor-pointer">
                    <static-image
                      v-if="loggedInUser.avatar"
                      :url="loggedInUser.avatar"
                      class="w-8 h-8 rounded-full object-cover"
                    />
                    <static-svg
                      v-else
                      name="icon-user-default"
                      class="w-8 h-8 object-cover"
                    />
                    <div class="flex flex-col">
                      <h4 class="text-[16px] leading-5 text-111 font-medium">
                        {{ loggedInUser.fullname }}
                      </h4>
                      <span class="text-[12px] font-medium text-555">{{
                        loggedInUser.isVerify ? 'Xác thực' : 'Chưa xác thực'
                      }}</span>
                    </div>
                  </div>
                </template>
                <div
                  v-for="(option, index) in userOption"
                  :key="index"
                  class="flex items-center justify-start gap-3 px-4 py-2 hover:bg-007456 cursor-pointer"
                  @click="redirect(option.to)"
                >
                  <static-svg :name="option.icon" class="w-[22px] h-[22px]" />
                  <p class="text-16-25 text-555 font-medium">
                    {{ option.title }}
                  </p>
                </div>
              </el-submenu>
            </el-menu>
            <el-divider />
          </div>

          <div class="flex flex-col items-center gap-3 px-4">
            <div
              v-for="(item, index) in navBarList"
              :key="index"
              class="w-full"
              @click="drawer = false"
            >
              <nuxt-link
                exact-active-class="active-link"
                :to="item.to"
                class="block py-2 px-2.5 text-16-25 text-555 font-medium hover:text-0074"
                >{{ item.title }}</nuxt-link
              >
            </div>
          </div>
        </el-drawer>

        <el-drawer
          :visible.sync="notiDrawer"
          :with-header="false"
          :append-to-body="true"
          size="70%"
        >
          <div class="p-4">
            <notification
              v-if="notiList.length > 0"
              :close="() => (notiDrawer = false)"
            />
            <el-empty v-else :image-size="80" class="mx-auto"></el-empty>
          </div>
        </el-drawer>
      </div>
    </div>
  </div>
</template>

<script>
import Notification from '@/components/desktop/layouts/common/notification/Notification.vue'
import notificationMixin from '~/mixins/notificationMixin'

import { routesUrl } from '~/constants/routes'
import { userOption, navBarList } from '~/data'

export default {
  components: { Notification },
  mixins: [notificationMixin],
  data() {
    return {
      drawer: false,
      notiDrawer: false,
    }
  },
  computed: {
    navBarList() {
      return navBarList
    },
    routesUrl() {
      return routesUrl
    },
    userOption() {
      return userOption
    },
  },
  mounted() {
    window.addEventListener('scroll', this.handleScroll)
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.changeInnerWidth)
  },
  methods: {
    redirect(to) {
      if (to) {
        this.$router.push(to)
      } else {
        this.$auth.logout()
      }
      this.drawer = false
    },
    handleScroll() {
      if (this.$refs['header-mobile']) {
        if (window.scrollY > 30) {
          this.$refs['header-mobile'].classList.add('bg-header')
        } else {
          this.$refs['header-mobile'].classList.remove('bg-header')
        }
      }
    },
  },
}
</script>

<style scoped>
.bg-header {
  background-color: #fff;
}
</style>
