<template>
  <div>
    <the-header />
    <slot />
    <the-footer />
  </div>
</template>

<script>
import TheHeader from '@/components/mobile/layouts/TheHeader.vue'
import TheFooter from '@/components/mobile/layouts/TheFooter.vue'
export default {
  components: { TheHeader, TheFooter },
}
</script>
