<template>
  <component :is="nameComponent" />
</template>

<script>
import pageMixin from '~/mixins/pageMixin'

export default {
  name: 'ResumesPage',
  auth: false,
  components: {
    ResumesDesktop: () =>
      import('@/components/desktop/pages/resumes/Resumes.vue'),
    ResumesMobile: () =>
      import('@/components/mobile/pages/resumes/Resumes.vue'),
  },
  mixins: [pageMixin],
  head() {
    const title = 'Xem hồ sơ đã gửi'
    const des = ''
    const keyword =
      'Future, future, tim kiem, viec lam, nhanh chong, tin cay, hieu qua, uy tin'
    const image = `${process.env.BASE_URL}/images/thumb-seo.png`
    return {
      ...this.headPage(title, des, keyword, image),
    }
  },
  computed: {
    nameComponent() {
      return this.isDesktop ? 'ResumesDesktop' : 'ResumesMobile'
    },
  },
}
</script>
