@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  src: url(~static/fonts/PublicSans-Bold.ttf);
}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 600;
  src: url(~static/fonts/PublicSans-SemiBold.ttf);
}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  src: url(~static/fonts/PublicSans-Medium.ttf);
}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  src: url(~static/fonts/PublicSans-Light.ttf);
}
