@import 'normalize.css';

:root {
  --font-family: 'Public Sans';
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family) !important;
  font-weight: 400;
  text-rendering: optimizeSpeed;
  overflow-y: overlay;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

//
.el-divider--horizontal {
  height: 0.5px !important;
  background-color: #dadce0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;

  & .el-divider {
    background-color: #dadce0;
  }
}

.el-tag {
  height: 20px !important;
  line-height: 20px !important;
}

.el-dropdown-menu {
  .popper__arrow {
    right: 8px !important;
    left: unset !important;
  }
}

.el-menu {
  border-right: none !important;
}

.el-submenu__title {
  padding: 10px 0 10px 10px !important;
  height: auto !important;
  line-height: unset !important;
}

.el-input__inner {
  border: none !important;
  font-size: 16px !important;
  font-weight: 500;

  &::placeholder {
    font-size: 16px !important;
    font-weight: 500;
    color: #111 !important;
  }
}

.el-select-dropdown__item {
  font-size: 16px;
  font-weight: 500;
  color: #999999;
}

.el-select-dropdown__item.selected {
  font-weight: 500 !important;
  color: #007456 !important;
}

.el-pager li.active,
.el-pager li:hover,
.el-pagination button:hover {
  color: #007456 !important;
}

.el-upload {
  width: 100% !important;
}

.has-gutter {
  .cell {
    font-size: 18px;
    font-weight: 500;
    color: #111;
  }
}

.el-table__row {
  .cell {
    font-size: 15px;
    color: #555;
    font-weight: 450;
  }
}

.el-popover {
  width: 350px !important;
  max-height: 50vh !important;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none !important;
  }
}

//
.ssr-carousel-dots {
  margin-top: 20px !important;
}

[aria-disabled] > .ssr-carousel-dot-icon {
  background: #007456 !important;
}

.ssr-carousel-dot-icon {
  width: 10px !important;
  height: 10px !important;
  background: unset;
  border: 1px solid #007456 !important;
}

//
.vicp-close {
  display: none !important;
}

.vue-image-crop-upload .vicp-wrap {
  height: 280px !important;
}
