@import 'font';
@import 'base';

.none-border-outline {
  border: none !important;
  outline: none !important;
}

.hidden-scroll {
  &::-webkit-scrollbar {
    display: none !important;
  }
}

.label-input-default {
  display: inline-block;
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  color: #555;
  width: fit-content;
}

.input-default,
.input-pw-default {
  padding: 4px 16px;
  outline: none;
  border: 1px solid #dadce0;
  font-size: 14px;
  line-height: 24px;
  border-radius: 12px;

  &:focus {
    border: 1px solid #007456;
  }
}

.input-pw-default {
  width: 100%;
  padding-right: 32px;
}

.height-not-header {
  height: calc(100vh - 64px);
}
