<template>
  <component :is="nameComponent" :chat="chat" />
</template>

<script>
import { apiList } from '~/apis/apiList'
import { decodeHash } from '@/helpers'

export default {
  name: 'ConversationDetailPage',

  components: {
    ConversationDetailDesktop: () =>
      import(
        '@/components/desktop/pages/conversation-detail/ConversationDetail.vue'
      ),
    ConversationDetailMobile: () =>
      import(
        '@/components/mobile/pages/conversation-detail/ConversationDetail.vue'
      ),
  },
  layout: 'conversation',
  async asyncData({ $customAxios, params }) {
    const getConversationDetail = () => {
      const chatIdEncode = params.slug
      const chatId = decodeHash(chatIdEncode)
      return $customAxios
        .$get(apiList.CHATS.DETAIL.replace(':id', chatId))
        .then((res) => {
          return res
        })
        .catch((error) => console.log(error))
    }

    const [chat] = await Promise.all([getConversationDetail()])

    return {
      chat,
    }
  },
  data() {
    return {
      chat: {},
    }
  },
  computed: {
    nameComponent() {
      return this.isDesktop
        ? 'ConversationDetailDesktop'
        : 'ConversationDetailMobile'
    },
  },
  methods: {},
}
</script>
