<template>
  <component :is="nameComponent" />
</template>

<script>
import pageMixin from '~/mixins/pageMixin'

export default {
  name: 'CateDetailPage',
  auth: false,
  components: {
    CateDetailDesktop: () =>
      import('@/components/desktop/pages/cate-detail/CateDetail.vue'),
    CateDetailMobile: () =>
      import('@/components/mobile/pages/cate-detail/CateDetail.vue'),
  },
  mixins: [pageMixin],
  head() {
    const title = 'Tìm kiếm theo danh mục'
    const des = ''
    const keyword =
      'Future, future, tim kiem, viec lam, nhanh chong, tin cay, hieu qua, uy tin'
    const image = `${process.env.BASE_URL}/images/thumb-seo.png`
    return {
      ...this.headPage(title, des, keyword, image),
    }
  },
  computed: {
    nameComponent() {
      return this.isDesktop ? 'CateDetailDesktop' : 'CateDetailMobile'
    },
  },
}
</script>
