<template>
  <div>
    <div
      class="py-24 lg:py-28 bg-banner-find-job bg-no-repeat bg-center bg-cover"
    >
      <div class="container sm:mt-5">
        <h2
          class="text-[24px] leading-[30px] lg:text-[34px] lg:leading-[50px] text-111 text-center font-medium lg:font-semibold"
        >
          {{ cateTitle }}
        </h2>
      </div>
    </div>
    <div class="container py-14">
      <div v-if="listJob.length > 0" class="flex justify-end items-center mb-6">
        <div
          class="flex items-center gap-2 sm:gap-4 text-18-23 text-111 font-medium"
        >
          <p class="text-18-23 text-111 font-medium">Sắp xếp</p>
          <el-dropdown placement="bottom-end" trigger="click">
            <div class="flex items-center gap-2">
              <p class="text-16-25 text-555">{{ orderName }}</p>
              <static-svg name="icon-arrow-down" class="w-3 h-3" />
            </div>
            <el-dropdown-menu slot="dropdown">
              <p
                class="text-14-24 text-555 font-medium px-2 cursor-pointer hover:bg-007456 hover:text-0074"
                :class="
                  orderBy == 'DESC' ? 'bg-007456 text-0074 font-semibold' : ''
                "
                @click="orderBy = 'DESC'"
              >
                Mới nhất
              </p>
              <p
                class="text-14-24 text-555 font-medium px-2 cursor-pointer hover:bg-007456 hover:text-0074"
                :class="
                  orderBy == 'ASC' ? 'bg-007456 text-0074 font-semibold' : ''
                "
                @click="orderBy = 'ASC'"
              >
                Lâu nhất
              </p>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
      </div>

      <div v-if="!isLoading">
        <div
          v-if="listJob.length > 0"
          class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-4"
        >
          <div v-for="(item, index) in listJob" :key="index" class="col-span-1">
            <job-item-horizontial :job="item" />
          </div>
        </div>
        <el-empty v-else :image-size="80" class="mx-auto"></el-empty>
      </div>
      <div v-else class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-4">
        <div class="col-span-1"><skeleton-item /></div>
        <div class="col-span-1"><skeleton-item /></div>
        <div class="col-span-1"><skeleton-item /></div>
      </div>

      <el-pagination
        v-if="totalPage > 0"
        layout="prev, pager, next"
        :total="totalPage * 9"
        class="mt-4"
        @current-change="changePage"
      >
      </el-pagination>
    </div>
  </div>
</template>

<script>
import { apiList } from '~/apis/apiList'
import { getIdFromSlugHash } from '~/helpers'
export default {
  data() {
    return {
      listJob: [],
      totalPage: 0,
      orderBy: 'DESC',
      page: 1,
      isLoading: false,
      cateTitle: '',
    }
  },
  computed: {
    orderName() {
      if (this.orderBy === 'DESC') {
        return 'Mới nhất'
      } else {
        return 'Lâu nhất'
      }
    },
  },
  watch: {
    orderBy() {
      this.getAllData()
    },
    page() {
      this.getAllData()
    },
  },
  created() {
    this.getAllData()
  },
  methods: {
    changePage(newPage) {
      this.page = newPage
      window.scrollTo({
        top: 294,
        behavior: 'smooth',
      })
    },
    async getAllData() {
      this.isLoading = true
      const id = getIdFromSlugHash(this.$route.params.slug)
      const getJobsByCate = () => {
        return this.$customAxios
          .$get(apiList.JOBS.BY_CATE.replace(':id', id), {
            params: {
              page: this.page,
              orderBy: this.orderBy,
              limit: 9,
            },
          })
          .then((res) => {
            this.listJob = res.data
            this.totalPage = res.meta.pages
          })
          .catch((error) => console.log(error))
      }

      const getCateDetail = () => {
        return this.$customAxios
          .$get(apiList.CATEGORIES.DETAIL.replace(':id', id))
          .then((res) => {
            this.cateTitle = res.label
          })
          .catch((error) => console.log(error))
      }

      await Promise.all([getJobsByCate(), getCateDetail()])
      this.isLoading = false
    },
  },
}
</script>
