<template>
  <div
    v-if="!disabled"
    class="flex items-center justify-center w-9 h-9 sm:w-12 sm:h-12 rounded-full arrow-slide"
  >
    <static-svg :name="iconName" />
  </div>
</template>

<script>
export default {
  props: {
    icon: {
      type: String,
      required: true,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    iconName() {
      return `icon-arrow-${this.icon}`
    },
  },
}
</script>

<style scoped>
.arrow-slide {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(8px);
  border-radius: 99px;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  background: hsla(0, 0%, 100%, 0.1);
}

.arrow-slide:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    var(--White-overlay, hsla(0, 0%, 100%, 0.1));
}
</style>
