<template>
  <button
    class="flex justify-center items-center bg-0074 py-2.5 px-4 rounded-[48px] border border-0074 min-w-[88px] text-[16px] text-white opacity-45 cursor-default"
    @click="$emit('click')"
  >
    <static-svg v-if="icon" :name="icon" class="w-5 h-5 mr-2" />
    {{ title }}
  </button>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    icon: {
      type: String,
      default: '',
    },
  },
  emits: ['click'],
}
</script>
