<template>
  <button
    class="flex justify-center items-center bg-0074 py-2.5 px-4 rounded-[48px] border border-0074 min-w-[88px] text-[16px] text-white hover:bg-button-hover"
    @click="$emit('click')"
  >
    <static-svg v-if="icon" :name="icon" class="w-5 h-5 mr-2" />
    <static-svg v-if="loading" name="icon-loading" class="w-4 h-4 loading" />
    <span v-else>{{ title }}</span>
  </button>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    loading: {
      type: Boolean,
      default: false,
    },
    icon: {
      type: String,
      default: '',
    },
  },
  emits: ['click'],
}
</script>

<style scoped>
.loading {
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
