<template>
  <nuxt-link
    :to="to"
    :target="blank && '_blank'"
    class="py-2 px-3 font-medium text-16-25 text-555 hover:text-0074"
  >
    {{ title }}
  </nuxt-link>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    to: {
      type: String,
      default: '/',
    },
    blank: {
      type: Boolean,
      default: false,
    },
  },
}
</script>
