<template>
  <component :is="nameComponent" :post="post" />
</template>

<script>
import { apiList } from '~/apis/apiList'
import { getIdFromSlugHash } from '~/helpers'
import pageMixin from '~/mixins/pageMixin'
export default {
  name: 'PostDetailPage',
  auth: false,
  components: {
    PostDetailDesktop: () =>
      import('@/components/desktop/pages/post-detail/PostDetail.vue'),
    PostDetailMobile: () =>
      import('@/components/mobile/pages/post-detail/PostDetail.vue'),
  },
  mixins: [pageMixin],
  async asyncData({ $customAxios, params }) {
    const getPostDetail = () => {
      const id = getIdFromSlugHash(params.slug)
      return $customAxios
        .$get(apiList.POSTS.DETAIL.replace(':id', id))
        .then((res) => res)
        .catch((error) => console.log(error))
    }

    const [post] = await Promise.all([getPostDetail()])

    return {
      post,
    }
  },
  data() {
    return {
      post: {},
    }
  },
  head() {
    const title = this.post.title
    const des = this.post.owner.fullname
    const keyword =
      'Future, future, tim kiem, viec lam, nhanh chong, tin cay, hieu qua, cong ty, de dang, uy tin'
    const image = this.post.owner.avatar
    return {
      ...this.headPage(title, des, keyword, image),
    }
  },
  computed: {
    nameComponent() {
      return this.isDesktop ? 'PostDetailDesktop' : 'PostDetailMobile'
    },
  },
}
</script>
