<template>
  <component :is="nameComponent" />
</template>

<script>
import pageMixin from '~/mixins/pageMixin'

export default {
  name: 'SignInPage',
  auth: 'guest',
  components: {
    SignInDesktop: () => import('@/components/desktop/pages/auth/SignIn.vue'),
    SignInMobile: () => import('@/components/mobile/pages/auth/SignIn.vue'),
  },
  mixins: [pageMixin],
  layout: 'empty',
  head() {
    const title = 'Đăng nhập'
    const des = ''
    const keyword =
      'Future, future, tim kiem, viec lam, nhanh chong, tin cay, hieu qua, uy tin'
    const image = `${process.env.BASE_URL}/images/banner-register.webp`
    return {
      ...this.headPage(title, des, keyword, image),
    }
  },
  computed: {
    nameComponent() {
      return this.isDesktop ? 'SignInDesktop' : 'SignInMobile'
    },
  },
}
</script>
