<template>
  <div class="flex items-center justify-center min-h-[100vh] bg-faf4 px-4">
    <div class="sm:w-[500px] w-full p-5 bg-white rounded-xl">
      <sign-up-content />
    </div>
  </div>
</template>

<script>
import SignUpContent from '@/components/desktop/pages/auth/SignUpContent.vue'

export default {
  components: { SignUpContent },
}
</script>
