<template>
  <div class="flex items-center flex-wrap gap-1.5 my-6">
    <div
      v-for="({ to, label }, index) in breadList"
      :key="index"
      class="flex items-center gap-1.5 hidden-last-arrow"
    >
      <p class="text-16-25 text-999 font-medium">
        <nuxt-link :to="to" class="inline-block">{{ label }}</nuxt-link>
      </p>
      <static-svg name="icon-arrow-next-999" class="w-4 h-4" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'BreadcrumbItem',
  props: {
    breadList: {
      type: Array,
      default: () => [],
    },
  },
}
</script>

<style scoped>
.hidden-last-arrow:last-child img {
  display: none;
}
</style>
