<template>
  <div>
    <div
      v-if="company"
      class="relative w-full border border-border2 p-5 rounded-2xl bg-white shadow-job-item-horizontial cursor-pointer hover:shadow-job-item-hover"
    >
      <div class="flex gap-4">
        <static-image
          v-if="company.logo"
          :url="company.logo"
          class="w-20 h-20 object-cover rounded-sm"
        />
        <static-image
          v-else
          name="no-image"
          class="w-20 h-20 object-cover rounded-sm"
        />
        <div class="flex flex-col flex-1 gap-1.5">
          <div class="flex flex-col">
            <el-tooltip
              class="item"
              effect="dark"
              :content="company.companyName"
              placement="top"
            >
              <h4 class="text-18-23 text-111 font-medium line-clamp-1">
                <nuxt-link :to="redirectCompanyDetail" class="line-clamp-1">{{
                  company.companyName
                }}</nuxt-link>
              </h4>
            </el-tooltip>
            <p class="text-16-25 text-111 line-clamp-1">
              {{ `${company.districtName}, ${company.provinceName}` }}
            </p>
          </div>
          <div class="flex items-center flex-wrap gap-x-2 gap-y-1">
            <el-tag type="info">{{ company.scales }}</el-tag>
          </div>
        </div>
      </div>
      <!-- eslint-disable vue/no-v-html -->
      <div
        class="mt-4 text-000 leading-6 text-justify line-clamp-5"
        v-html="company.introduction"
      ></div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    company: {
      type: Object,
      default: () => ({}),
    },
  },
  computed: {
    redirectCompanyDetail() {
      if (this.company) {
        const path = this.routeCompanyDetail({
          id: this.company.id,
          name: this.company.companyName,
        })
        return path
      }
      return ''
    },
  },
}
</script>
