<template>
  <div
    class="py-2.5 px-4 hover:bg-007456 cursor-pointer"
    :class="{ 'bg-007456': selected || !hasSeen }"
    @click="redirectConversationDetail"
  >
    <div class="flex gap-3">
      <static-image
        v-if="findRecipient.logo || findRecipient.avatar"
        :url="findRecipient.logo || findRecipient.avatar"
        class="w-9 h-9 rounded-full object-cover"
      />
      <static-image v-else name="no-image" class="w-9 h-9 object-cover" />
      <div class="flex flex-col flex-1">
        <div class="flex flex-col">
          <h4 class="text-16-22 text-111 font-medium line-clamp-1">
            {{ findRecipient.companyName || findRecipient.fullname }}
          </h4>
          <div class="flex justify-between gap-3 mt-1">
            <p
              class="flex-1 text-[12px] text-111 line-clamp-1"
              :class="{ 'font-medium text-000': !hasSeen }"
            >
              {{ lastMessageText }}
            </p>
            <span
              v-if="lastMessage"
              class="text-[12px] text-111"
              :class="{ 'font-medium text-000': !hasSeen }"
              >{{ formatTime(lastMessage.createdAt) }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import formatTimeMixin from '~/mixins/formatTimeMixin'

export default {
  mixins: [formatTimeMixin],
  props: {
    item: {
      type: Object,
      default: () => ({}),
    },
    selected: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    findRecipient() {
      const partner = this.partnerConversation(this.item.members)
      if (partner.company) return partner.company
      return partner
    },
    lastMessage() {
      const messages = this.item.messages || []

      return messages[messages.length - 1]
    },
    hasSeen() {
      if (!this.lastMessage) {
        return false
      }

      const seenArray = this.lastMessage.seenBy || []

      if (!this.loggedInUser.id) {
        return false
      }

      return (
        seenArray.filter((user) => +user.id === +this.loggedInUser.id)
          .length !== 0
      )
    },
    lastMessageText() {
      if (this.lastMessage?.image) {
        return 'Sent an image'
      }

      if (this.lastMessage?.text) {
        return this.lastMessage.text
      }

      return 'Bắt đầu cuộc trò chuyện'
    },
  },
  methods: {
    redirectConversationDetail() {
      const path = this.routeConversationDetail({
        chatId: this.item.id,
      })
      this.$router.push(path)
    },
  },
}
</script>
