<template>
  <div>
    <div
      v-if="job && job.company && diffDateCount >= 0"
      class="relative w-full border border-border2 p-5 rounded-2xl bg-white shadow-job-item-horizontial cursor-pointer hover:shadow-job-item-hover"
    >
      <div class="flex gap-4">
        <static-image
          v-if="job.company.logo"
          :url="job.company.logo"
          class="w-20 h-20 object-cover rounded-sm"
        />
        <static-image
          v-else
          name="no-image"
          class="w-20 h-20 object-cover rounded-sm"
        />
        <div class="flex flex-col gap-1.5">
          <div class="flex flex-col">
            <el-tooltip
              class="item"
              effect="dark"
              :content="job.name"
              placement="top"
            >
              <h4 class="text-18-23 text-111 font-medium line-clamp-1">
                <nuxt-link :to="redirectJobDetail" class="line-clamp-1">{{
                  job.name
                }}</nuxt-link>
              </h4>
            </el-tooltip>
            <p class="text-16-25 text-111 line-clamp-1">
              {{ job.company.companyName }}
            </p>
          </div>
          <div class="flex items-center flex-wrap gap-x-2 gap-y-1">
            <el-tag
              v-for="(skill, index) in job.skills"
              :key="index"
              type="info"
              >{{ skill }}</el-tag
            >
          </div>
          <div class="flex items-center gap-2 mt-1">
            <p
              v-if="diffDateCount >= 0"
              class="text-[14px] text-555 font-medium"
            >
              {{ diffDateCount }} ngày ứng tuyển
            </p>
            <el-tag v-if="diffDateCount < 0" type="danger">Hết hạn</el-tag>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    job: {
      type: Object,
      default: () => ({}),
    },
  },
  computed: {
    redirectJobDetail() {
      if (this.job.category) {
        const path = this.routeJobDetail({
          cateLabel: this.job.category.label,
          id: this.job.id,
          jobName: this.job.name,
        })
        return path
      }
      return ''
    },
  },
}
</script>
