<template>
  <div
    v-if="post"
    class="w-full border border-border2 p-5 rounded-2xl bg-white"
  >
    <div class="flex gap-3">
      <static-image
        v-if="post.owner && post.owner.avatar"
        :url="post.owner.avatar"
        class="w-8 h-8 rounded-full object-cover"
      />
      <static-svg
        v-else
        name="icon-user-default"
        class="w-8 h-8 object-cover"
      />
      <div class="flex flex-col flex-1 gap-1.5">
        <div class="flex flex-col">
          <h4 class="text-18-23 text-111 font-medium line-clamp-1">
            {{ post.owner ? post.owner.fullname : 'Unknow user' }}
          </h4>
          <p class="text-14-18 text-111 line-clamp-1">
            {{
              post.owner && post.owner.isVerify ? 'Xác thực' : 'Chưa xác thực'
            }}
          </p>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-3 mt-4">
      <h5 class="text-[20px] leading-6 text-111 font-medium line-clamp-1">
        <nuxt-link :to="redirectPostDetail" class="w-fit line-clamp-1">{{
          post.title
        }}</nuxt-link>
      </h5>
      <!-- eslint-disable vue/no-v-html -->
      <div
        class="line-clamp-6 text-000 text-justify leading-6"
        v-html="post.content"
      ></div>
      <span class="text-14-24 text-555 font-medium">{{
        formatTime(post.createdAt)
      }}</span>
    </div>
  </div>
</template>

<script>
import formatTimeMixin from '@/mixins/formatTimeMixin'
export default {
  mixins: [formatTimeMixin],
  props: {
    post: {
      type: Object,
      default: () => ({}),
    },
  },
  computed: {
    redirectPostDetail() {
      if (this.post) {
        const path = this.routePostDetail({
          id: this.post.id,
          title: this.post.title,
        })
        return path
      }
      return ''
    },
  },
}
</script>
