<template>
  <div class="flex items-center gap-2">
    <div class="p-2.5 bg-category-item rounded-full">
      <static-svg :name="data.icon" class="w-5 h-5" />
    </div>
    <div class="flex flex-col">
      <p class="text-16-22 text-111 font-medium">{{ data.label }}</p>
      <span class="text-14-24 text-555 font-medium">{{ data.value }}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default: () => ({}),
    },
  },
}
</script>
