<template>
  <div class="h-full">
    <div class="py-16 px-4 h-full overflow-hidden">
      <div class="h-full overflow-y-scroll hidden-scroll">
        <div
          ref="conversation-container"
          class="flex flex-col gap-3 justify-end min-h-full"
        >
          <div
            v-for="(mess, index) in messageList"
            :key="index"
            class="flex flex-col gap-0.5"
          >
            <div
              v-if="mess.text"
              class="w-fit max-w-[24%] py-2 px-2.5 rounded-tl-xl rounded-bl-xl rounded-tr-xl text-wrap bg-007456 ml-auto"
              :class="{
                '!rounded-tr-xl !rounded-br-xl !rounded-tl-xl !rounded-bl-none !bg-[#c6e3fa] !mr-auto !ml-0':
                  !(+mess.senderId === +$store.getters.loggedInUser.id),
              }"
            >
              <p class="text-14-18 text-000 font-medium text-left">
                {{ mess.text }}
              </p>
            </div>
            <div v-else>
              <img
                :src="mess.image"
                class="w-[18%] ml-auto rounded-xl"
                :class="{
                  '!mr-auto !ml-0': !(
                    +mess.senderId === +$store.getters.loggedInUser.id
                  ),
                }"
              />
            </div>
            <p
              v-if="isLast(index) && isOwner(mess) && mess && isSeen(mess)"
              class="font-normal text-[12px] text-111 text-right"
            >
              Đã xem
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { apiList } from '~/apis/apiList'
import { decodeHash } from '~/helpers'
import connectSocketMixin from '~/mixins/connectSocketMixin'
import messageMixin from '~/mixins/messageMixin'

export default {
  mixins: [connectSocketMixin, messageMixin],
  watch: {
    messageList() {
      this.$nextTick(function () {
        const el = this.$refs['conversation-container']
        el.scrollIntoView({ behavior: 'smooth', block: 'end' })
      })
    },
  },
  mounted() {
    this.getAllData()
    if (this.$store.getters.loggedInUser) {
      // const chatIdEncode = this.$route.params.slug
      // const chatId = decodeHash(chatIdEncode)
      // this.socket.sub
      // this.socket.on('messages:new', (resp) => {
      //   console.log(resp)
      // })
    }
  },
  methods: {
    ...mapActions('messages', {
      setMessList: 'setMessList',
    }),
    isLast(index) {
      return +index === +this.messageList.length - 1
    },
    isOwner(mess) {
      return +this.$store.getters.loggedInUser.id === +mess.senderId
    },
    isSeen(mess) {
      return mess.seenBy.find(
        (u) => +u.id !== +this.$store.getters.loggedInUser.id
      )
    },
    async getAllData() {
      const getMessagesByChatId = () => {
        const chatIdEncode = this.$route.params.slug
        const chatId = decodeHash(chatIdEncode)
        return this.$customAxios
          .$get(apiList.MESSAGES.BY_CHAT.replace(':chatId', chatId))
          .then((res) => {
            this.setMessList(res)
          })
          .catch((error) => console.log(error))
      }

      await Promise.all([getMessagesByChatId()])
    },
  },
}
</script>
