<template>
  <div class="relative overflow-y-hidden h-full">
    <div class="absolute top-0 left-0 right-0 z-10 border-b border-border">
      <div class="px-4 py-2.5 bg-007456">
        <div class="flex items-center gap-3">
          <static-image
            v-if="findRecipient.logo || findRecipient.avatar"
            :url="findRecipient.logo || findRecipient.avatar"
            class="w-9 h-9 rounded-full object-cover"
          />
          <static-image v-else name="no-image" class="w-9 h-9 object-cover" />
          <h4 class="text-16-22 text-111 font-medium line-clamp-1">
            {{ findRecipient.companyName || findRecipient.fullname }}
          </h4>
        </div>
      </div>
    </div>
    <conversation-detail-body />
    <div class="absolute bottom-0 left-0 right-0 z-10 border-t border-border">
      <div class="flex justify-between gap-1 w-full py-2 px-4 bg-007456">
        <div
          class="flex items-center justify-center px-2 cursor-pointer"
          @click="showImageModal = !showImageModal"
        >
          <static-svg name="icon-photo" class="w-7 h-7" />
        </div>
        <input
          v-model="message"
          class="text-14-18 py-2.5 px-4 flex-1 bg-007456 rounded-xl !outline-none"
          placeholder="Nhập tin nhắn..."
          @keyup.enter="handleSendMessage"
        />
        <div
          v-if="!isSending"
          class="flex items-center justify-center px-2 cursor-pointer"
        >
          <static-svg name="icon-send-disable" class="w-7 h-7" />
        </div>
        <div
          v-else
          class="flex items-center justify-center px-2 cursor-pointer"
          @click="handleSendMessage"
        >
          <static-svg name="icon-send-active" class="w-7 h-7" />
        </div>
      </div>
    </div>
    <client-only>
      <my-upload
        v-model="showImageModal"
        :width="300"
        :height="300"
        lang-type="vi"
        :no-circle="true"
        @src-file-set="srcFileSet"
        @crop-success="cropSuccess"
        @crop-upload-fail="cropUploadFail"
      />
    </client-only>
  </div>
</template>

<script>
import myUpload from 'vue-image-crop-upload/upload-2.vue'
import connectSocketMixin from '~/mixins/connectSocketMixin'
import ConversationDetailBody from '@/components/desktop/pages/conversation-detail/ConversationDetailBody.vue'
import { apiList } from '~/apis/apiList'
import { dataURLtoFile, decodeHash } from '~/helpers'
import messageMixin from '~/mixins/messageMixin'

export default {
  components: { ConversationDetailBody, myUpload },
  mixins: [connectSocketMixin, messageMixin],
  props: {
    chat: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      message: '',
      isSending: false,
      showImageModal: false,
      fileName: '',
    }
  },
  computed: {
    findRecipient() {
      const partner = this.partnerConversation(this.chat.members)
      if (partner.company) return partner.company
      return partner
    },
  },
  watch: {
    message() {
      if (!this.message.trim()) {
        this.isSending = false
      } else {
        this.isSending = true
      }
    },
  },
  mounted() {
    this.seenMessage()
  },
  methods: {
    srcFileSet(fileName) {
      this.fileName = fileName
    },
    async cropSuccess(imgDataUrl) {
      console.log('-------- Crop success --------')
      const file = dataURLtoFile(imgDataUrl, this.fileName)
      const image = await this.updateImage(file)
      this.sendMessage(image.secure_url)
    },
    cropUploadFail(status, field) {
      console.log('-------- Upload fail --------')
      console.log(status)
      console.log('field: ' + field)
    },
    async updateImage(file) {
      const formData = new FormData()
      formData.append('file', file)
      formData.append('folderName', 'chats')
      const config = {
        headers: {
          'content-type': 'multipart/form-data',
        },
      }
      const imgResp = await this.$customAxios.$post(
        apiList.FILES.UPLOAD,
        formData,
        config
      )
      return imgResp
    },
    sendMessage(image) {
      const chatIdEncode = this.$route.params.slug
      const chatId = decodeHash(chatIdEncode)
      return this.$customAxios
        .$post(apiList.MESSAGES.DEFAULT, {
          chatId,
          text: this.message,
          image,
        })
        .then((res) => res)
        .catch((error) => console.log(error))
    },
    async handleSendMessage() {
      if (!this.message.trim() || !this.isSending) {
        // eslint-disable-next-line no-useless-return
        return
      }
      await this.sendMessage()
      this.message = ''
    },
  },
}
</script>
