<template>
  <div class="py-16 bg-007456">
    <div class="container">
      <job-detail-breadcrumb :job="job" />
      <job-detail-grid :job="job" :list-job-sended="listJobSended" />
    </div>
  </div>
</template>

<script>
import JobDetailBreadcrumb from '@/components/desktop/pages/job-detail/JobDetailBreadcrumb.vue'
import JobDetailGrid from '@/components/desktop/pages/job-detail/JobDetailGrid.vue'
export default {
  components: { JobDetailBreadcrumb, JobDetailGrid },
  props: {
    job: {
      type: Object,
      default: () => ({}),
    },
    listJobSended: {
      type: Array,
      default: () => [],
    },
  },
}
</script>
