<template>
  <img :src="source" alt="" class="cursor-pointer" />
</template>

<script>
export default {
  props: {
    url: {
      type: String,
      default: '',
    },
    name: {
      type: String,
      default: '',
    },
    type: {
      type: String,
      default: 'png',
    },
  },
  computed: {
    source() {
      if (this.url) return this.url
      return `${process.env.BASE_URL}/images/${this.name}.${this.type}`
    },
  },
}
</script>
