<template>
  <img :src="source" alt="" class="cursor-pointer" @click="$emit('click')" />
</template>

<script>
export default {
  props: {
    url: {
      type: String,
      default: '',
    },
    name: {
      type: String,
      default: '',
    },
  },
  emits: ['click'],
  computed: {
    source() {
      if (this.url) return this.url
      return `${process.env.BASE_URL}/svgs/${this.name}.svg`
    },
  },
}
</script>
