<template>
  <component :is="nameComponent" :company="company" />
</template>

<script>
import { apiList } from '~/apis/apiList'
import { getIdFromSlugHash } from '~/helpers'
import pageMixin from '~/mixins/pageMixin'

export default {
  name: 'CompanyDetailPage',
  auth: false,
  components: {
    CompanyDetailDesktop: () =>
      import('@/components/desktop/pages/company-detail/CompanyDetail.vue'),
    CompanyDetailMobile: () =>
      import('@/components/mobile/pages/company-detail/CompanyDetail.vue'),
  },
  mixins: [pageMixin],
  async asyncData({ $customAxios, params }) {
    const getCompanyDetail = () => {
      const id = getIdFromSlugHash(params.slug)
      return $customAxios
        .$get(apiList.COMPANIES.DETAIL.replace(':id', id))
        .then((res) => res)
        .catch((error) => console.log(error))
    }

    const [company] = await Promise.all([getCompanyDetail()])

    return {
      company,
    }
  },
  data() {
    return {
      company: {},
    }
  },
  head() {
    const title = this.company.companyName
    const des = `${this.company.districtName} - ${this.company.provinceName}`
    const keyword =
      'Future, future, tim kiem, viec lam, nhanh chong, tin cay, hieu qua, cong ty, de dang, uy tin'
    const image = this.company.logo
    return {
      ...this.headPage(title, des, keyword, image),
    }
  },
  computed: {
    nameComponent() {
      return this.isDesktop ? 'CompanyDetailDesktop' : 'CompanyDetailMobile'
    },
  },
}
</script>
