<template>
  <div class="flex items-center gap-2">
    <static-svg v-if="icon" :name="icon" class="w-[18px] h-[18px]" />
    <p class="font-medium text-16-25 text-555">{{ title }}</p>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    icon: {
      type: String,
      default: '',
    },
  },
}
</script>
