<template>
  <h4 class="font-medium text-16-25 text-111">{{ title }}</h4>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
  },
}
</script>
