<template>
  <div>
    <component :is="layoutName">
      <nuxt />
    </component>
    <div class="fixed bottom-7 right-7 lg:bottom-10 lg:right-10">
      <div
        ref="to-top"
        class="hidden p-2 lg:p-3 bg-007456 rounded-full cursor-pointer hover:bg-pri-hover"
        @click="goTop"
      >
        <static-svg name="icon-arrow-up" class="w-5 h-5" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  components: {
    LayoutWeb: () => import('@/components/desktop/layouts/TheLayout.vue'),
    LayoutMobile: () => import('@/components/mobile/layouts/TheLayout.vue'),
  },
  data() {
    return {
      innerWidth: 1024,
    }
  },
  computed: {
    ...mapGetters({
      layoutName: 'layoutName',
    }),
    isDeviceDesktop() {
      return this.innerWidth >= 1024
    },
  },
  watch: {
    isDeviceDesktop: {
      handler() {
        this.changeDevice(this.isDeviceDesktop)
      },
    },
  },
  mounted() {
    this.innerWidth = document.body.clientWidth
    window.addEventListener('resize', this.changeInnerWidth)
    window.addEventListener('scroll', this.handleScroll)
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.changeInnerWidth)
    window.removeEventListener('scroll', this.handleScroll)
  },
  methods: {
    changeInnerWidth() {
      this.innerWidth = document.body.clientWidth
    },
    handleScroll() {
      if (window.scrollY > 350) {
        this.$refs['to-top'].classList.add('!inline-block')
      } else {
        this.$refs['to-top'].classList.remove('!inline-block')
      }
    },
    goTop() {
      window.scrollTo({
        top: 0,
        behavior: 'smooth',
      })
    },
  },
}
</script>
