<template>
  <component :is="layoutName">
    <nuxt />
  </component>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  components: {
    LayoutWeb: () => import('@/components/desktop/layouts/TheLayoutAuth.vue'),
    LayoutMobile: () => import('@/components/mobile/layouts/TheLayoutAuth.vue'),
  },
  data() {
    return {
      innerWidth: 1024,
    }
  },
  computed: {
    ...mapGetters({
      layoutName: 'layoutName',
    }),
    isDeviceDesktop() {
      return this.innerWidth >= 1024
    },
  },
  watch: {
    isDeviceDesktop: {
      handler() {
        this.changeDevice(this.isDeviceDesktop)
      },
    },
  },
  mounted() {
    this.innerWidth = document.body.clientWidth
    window.addEventListener('resize', this.changeInnerWidth)
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.changeInnerWidth)
  },
  methods: {
    changeInnerWidth() {
      this.innerWidth = document.body.clientWidth
    },
  },
}
</script>
