<template>
  <component :is="nameComponent" />
</template>

<script>
export default {
  name: 'SignUpPage',
  auth: 'guest',
  components: {
    SignUpDesktop: () => import('@/components/desktop/pages/auth/SignUp.vue'),
    SignUpMobile: () => import('@/components/mobile/pages/auth/SignUp.vue'),
  },
  layout: 'empty',
  computed: {
    nameComponent() {
      return this.isDesktop ? 'SignUpDesktop' : 'SignUpMobile'
    },
  },
}
</script>
