<template>
  <div
    v-if="open"
    class="fixed top-0 left-0 right-0 bottom-0 flex justify-center p-4 bg-overlay z-10"
    @click="onClose"
  >
    <div
      class="relative min-h-[50%] max-h-[70%] lg:w-[480px] h-fit mt-[90px] bg-white rounded-2xl p-7 overflow-y-scroll hidden-scroll"
      @click.stop
    >
      <div class="absolute top-3 right-3 p-1 cursor-pointer" @click="onClose">
        <static-svg name="icon-close" class="w-5 h-5" />
      </div>
      <h4 class="text-[22px] leading-7 text-111 font-medium line-clamp-1">
        Nộp đơn cho <span class="text-0074">{{ job.name }}</span>
      </h4>

      <div class="flex flex-col gap-5 w-full mt-6">
        <div class="flex flex-col gap-1">
          <div class="flex flex-col gap-2">
            <label
              for="fullname"
              class="inline-block text-16-25 font-medium text-555 w-fit"
              >Họ tên</label
            >
            <input
              id="fullname"
              v-model="formData.fullname"
              type="text"
              placeholder="Nhập họ tên của bạn"
              autocomplete="off"
              class="py-1 px-4 outline-none border border-[#dadce0] text-14-24 rounded-xl focus:border-0074"
            />
          </div>
          <span
            v-if="isRequired(formData.fullname)"
            class="text-[14px] text-ff3"
            >Nhập đầy đủ thông tin</span
          >
        </div>
        <div class="flex flex-col gap-1">
          <div class="flex flex-col gap-2">
            <label
              for="email"
              class="inline-block text-16-25 font-medium text-555 w-fit"
              >Email</label
            >
            <input
              id="email"
              v-model="formData.email"
              type="email"
              placeholder="Nhập email của bạn"
              autocomplete="off"
              class="py-1 px-4 outline-none border border-[#dadce0] text-14-24 rounded-xl focus:border-0074"
            />
          </div>
          <span v-if="isRequired(formData.email)" class="text-[14px] text-ff3"
            >Nhập đầy đủ thông tin</span
          >
          <span v-if="isValidEmail()" class="text-[14px] text-ff3"
            >Nhập đúng định dạng email</span
          >
        </div>
        <div class="flex flex-col gap-2.5">
          <el-upload
            class="w-full"
            action=""
            :show-file-list="false"
            :multiple="false"
            :before-upload="beforeUpload"
          >
            <div
              class="flex justify-center items-center w-full border border-dashed border-0074 bg-007456 px-4 py-7 cursor-pointer"
            >
              <div class="flex items-center gap-2">
                <static-svg name="icon-upload" class="w-6 h-6" />
                <p class="text-16-22 text-0074 font-medium">
                  Tải lên CV (doc, docx, pdf)
                </p>
              </div>
            </div>
          </el-upload>
          <div v-if="checkObjectEmpty()" class="flex items-center gap-2">
            <static-svg name="icon-file" class="w-4 h-4" />
            <p class="text-14-24 text-555 line-clamp-1">{{ file.name }}</p>
            <static-svg name="icon-check" class="w-4 h-4" />
          </div>
          <span
            v-if="!checkObjectEmpty() && startValidate"
            class="text-[14px] text-ff3"
            >Chọn file của bạn</span
          >
        </div>
        <button-primary
          title="Ứng tuyển"
          class="rounded-xl !py-2"
          :loading="submitting"
          @click="handleSubmit"
        />
      </div>
    </div>
  </div>
</template>

<script>
import validationMixin from '~/mixins/validationMixin'
import firebaseMixin from '~/mixins/firebaseMixin'
import { apiList } from '~/apis/apiList'
export default {
  mixins: [validationMixin, firebaseMixin],
  props: {
    job: {
      type: Object,
      default: () => ({}),
    },
    open: {
      type: Boolean,
      default: false,
    },
    onClose: {
      type: Function,
      default: () => {},
    },
  },
  data() {
    return {
      submitting: false,
    }
  },
  methods: {
    beforeUpload(file) {
      console.log(file)
      this.file = file
    },
    checkObjectEmpty() {
      return Object.keys(JSON.parse(JSON.stringify(this.file))).length
    },
    async handleSubmit() {
      this.startValidate = true
      if (
        !this.isValidEmail() &&
        !this.isRequired(this.formData.email) &&
        !this.isRequired(this.formData.fullname) &&
        this.checkObjectEmpty()
      ) {
        this.submitting = true
        const fileName = await this.uploadFile(this.file)

        if (fileName) {
          try {
            await this.$customAxios.$post(apiList.RESUMES.DEFAULT, {
              email: this.formData.email.trim(),
              fullname: this.formData.fullname.trim(),
              fileUrl: fileName,
              job: this.job.id,
            })
            this.onClose()
            this.$message.success('Đơn của bạn đã được gửi lên')
            this.clearData()
          } catch (error) {
            this.$message.error(error.message)
          }
        } else {
          this.$message.error('Lỗi tải lên file, thử lại sau!')
        }
        this.submitting = false
      }
    },
  },
}
</script>
