<template>
  <breadcrumb :bread-list="breadList" />
</template>

<script>
import { routesUrl } from '~/constants'
export default {
  props: {
    job: {
      type: Object,
      default: () => ({}),
    },
  },
  computed: {
    breadList() {
      return [
        {
          to: routesUrl.HOME,
          label: 'Trang chủ',
        },
        {
          to: routesUrl.JOB,
          label: 'Việc làm',
        },
        {
          to: this.routeCateDetail({
            id: this.job?.category?.id,
            name: this.job?.category?.label,
          }),
          label: this.job?.category?.label,
        },
        {
          to: '',
          label: this.job.name,
        },
      ]
    },
  },
}
</script>
