<template>
  <div class="grid grid-cols-1 lg:grid-cols-10 gap-6 lg:gap-8">
    <div class="lg:col-span-7 col-span-1">
      <div class="p-4 sm:p-7 rounded-2xl bg-white">
        <div class="flex flex-1 gap-4">
          <static-image
            v-if="job.company.logo"
            :url="job.company.logo"
            class="w-14 h-14"
          />
          <static-image v-else name="no-image" class="w-14 h-14" />
          <div class="flex flex-col">
            <h2
              class="text-18-23 sm:text-24-30 text-111 font-medium line-clamp-1"
            >
              {{ job.name }}
            </h2>
            <h5 class="text-16-25 text-555 font-medium mt-1 line-clamp-1">
              {{ job.company.companyName }}
            </h5>
          </div>
        </div>
        <div class="flex gap-2 flex-wrap mt-4">
          <el-tag v-for="tag in tags" :key="tag.name" :type="tag.type">
            {{ tag.name }}
          </el-tag>
        </div>
        <div class="flex items-center gap-2 mt-2.5 mb-4">
          <p v-if="diffDateCount > 0" class="text-[14px] text-555 font-medium">
            {{ diffDateCount }} ngày ứng tuyển
          </p>
          <el-tag v-if="diffDateCount <= 0" type="danger">Hết hạn</el-tag>
        </div>

        <div class="flex items-center justify-between gap-3 mb-6">
          <button-primary
            v-if="loggedInUser"
            title="Ứng tuyển"
            @click="openModal = true"
          />
          <button-disable
            v-else
            title="Ứng tuyển"
            @click="$message('Bạn chưa đăng nhập')"
          />
          <div v-if="checkSended" class="flex items-center gap-2">
            <static-svg name="icon-bookmark" class="w-5 h-5" />
            <p class="text-14-24 text-555 font-medium">Bạn đã ứng tuyển</p>
          </div>
        </div>
        <apply-modal :job="job" :open="openModal" :on-close="closeModal" />

        <el-divider />

        <div class="mt-5 mb-6">
          <h3 class="text-20-30 text-111 font-medium">Thông tin chi tiết</h3>
          <div class="flex flex-wrap gap-7 mt-4">
            <tag-info
              v-for="(item, index) in infoList"
              :key="index"
              :data="item"
            />
          </div>
        </div>

        <el-divider />

        <div class="mt-5">
          <h3 class="text-20-30 text-111 font-medium">Mô tả</h3>
          <!-- eslint-disable vue/no-v-html -->
          <div class="mt-4 text-000 leading-6" v-html="job.description"></div>
        </div>
      </div>
    </div>
    <div class="lg:col-span-3 col-span-1">
      <div class="lg:sticky lg:top-[64px] p-4 sm:p-6 rounded-2xl bg-white">
        <div class="flex flex-1 items-center gap-4">
          <static-image
            v-if="job.company.logo"
            :url="job.company.logo"
            class="w-14 h-14"
          />
          <static-image v-else name="no-image" class="w-14 h-14" />
          <div class="flex flex-col">
            <h2 class="text-16-22 text-111 font-medium line-clamp-1">
              {{ job.company.companyName }}
            </h2>
            <h5 class="text-[14px] text-555 font-medium mt-1 line-clamp-1">
              {{ `${job.company.districtName}, ${job.company.provinceName}` }}
            </h5>
          </div>
        </div>
        <div class="flex justify-center mt-3">
          <nuxt-link
            :to="redirectCompanyDetail"
            target="_blank"
            class="p-0 font-medium text-16-25 text-555 hover:text-0074 underline"
            >Xem trang công ty</nuxt-link
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import formatTimeMixin from '~/mixins/formatTimeMixin'
import ApplyModal from '@/components/desktop/pages/job-detail/ApplyModal.vue'
export default {
  components: { ApplyModal },
  mixins: [formatTimeMixin],
  props: {
    job: {
      type: Object,
      default: () => ({}),
    },
    listJobSended: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      openModal: false,
    }
  },
  computed: {
    tags() {
      return [
        { name: this.job.location, type: 'success' },
        { name: this.job.salary, type: '' },
        { name: this.level(this.job.level), type: 'warning' },
      ]
    },
    infoList() {
      return [
        {
          icon: 'icon-schedule-calendar',
          label: 'Ngày tạo',
          value: this.formatDate(this.job.startDate),
        },
        {
          icon: 'icon-schedule-calendar',
          label: 'Hết hạn',
          value: this.formatDate(this.job.endDate),
        },
        {
          icon: 'icon-group',
          label: 'Số lượng',
          value: this.job.quantity,
        },
        {
          icon: 'icon-category',
          label: 'Danh mục',
          value: this.job.category.label,
        },
      ]
    },
    checkSended() {
      return this.listJobSended.some((item) => item.id === this.job.id)
    },
    redirectCompanyDetail() {
      if (this.job.company) {
        const path = this.routeCompanyDetail({
          id: this.job.company.id,
          name: this.job.company.companyName,
        })
        return path
      }
      return ''
    },
  },
  methods: {
    closeModal() {
      this.openModal = false
    },
  },
}
</script>
