<template>
  <div class="py-24 lg:py-28">
    <div class="container">
      <h2
        class="lg:text-[34px] lg:leading-[50px] text-[24px] leading-[30px] text-111 mb-6 lg:mb-8 text-center font-medium lg:font-semibold"
      >
        Tạo bài viết
      </h2>
      <input
        v-model="form.title"
        class="input-default w-full rounded-xl mb-4 !border !border-gray-400 !text-28-34 !py-2"
        placeholder="Tiêu đề bài viết"
      />
      <section
        v-if="editor"
        class="flex items-center flex-wrap gap-x-4 border text-pink-600 font-medium border-gray-400 p-4 rounded-tl-xl rounded-tr-xl"
      >
        <button
          :disabled="!editor.can().chain().focus().toggleBold().run()"
          :class="{ 'bg-gray-200': editor.isActive('bold') }"
          class="p-1 rounded-lg disabled:text-gray-400"
          @click="editor.chain().focus().toggleBold().run()"
        >
          <static-svg name="editor/icon-bold" class="w-5 h-5" />
        </button>
        <button
          :disabled="!editor.can().chain().focus().toggleItalic().run()"
          :class="{ 'bg-gray-200': editor.isActive('italic') }"
          class="p-1 rounded-lg disabled:text-gray-400"
          @click="editor.chain().focus().toggleItalic().run()"
        >
          <static-svg name="editor/icon-italic" class="w-5 h-5" />
        </button>
        <button
          :class="{ 'bg-gray-200': editor.isActive('heading', { level: 1 }) }"
          class="p-1 rounded-lg disabled:text-gray-400"
          @click="editor.chain().focus().toggleHeading({ level: 1 }).run()"
        >
          <static-svg name="editor/icon-heading1" class="w-5 h-5" />
        </button>
        <button
          :class="{ 'bg-gray-200': editor.isActive('bulletList') }"
          class="p-1 rounded-lg disabled:text-gray-400"
          @click="editor.chain().focus().toggleBulletList().run()"
        >
          <static-svg name="editor/icon-list-alt" class="w-5 h-5" />
        </button>
        <button
          :class="{ 'bg-gray-200': editor.isActive('orderedList') }"
          class="p-1 rounded-lg disabled:text-gray-400"
          @click="editor.chain().focus().toggleOrderedList().run()"
        >
          <static-svg name="editor/icon-list-oi" class="w-5 h-5" />
        </button>
        <button
          :class="{ 'bg-gray-200': editor.isActive('blockquote') }"
          class="p-1 rounded-lg disabled:text-gray-400"
          @click="editor.chain().focus().toggleBlockquote().run()"
        >
          <static-svg name="editor/icon-quote" class="w-5 h-5" />
        </button>
        <button
          :class="{ 'bg-gray-200': editor.isActive('codeBlock') }"
          class="p-1 rounded-lg disabled:text-gray-400"
          @click="editor.chain().focus().toggleCodeBlock().run()"
        >
          <static-svg name="editor/icon-code" class="w-5 h-5" />
        </button>
        <button
          class="p-1 rounded-lg disabled:text-gray-400"
          @click="editor.chain().focus().setHorizontalRule().run()"
        >
          <static-svg name="editor/icon-line" class="w-5 h-5" />
        </button>
        <button class="p-1 rounded-lg disabled:text-gray-400" @click="addImage">
          <static-svg name="editor/icon-image" class="w-5 h-5" />
        </button>
        <button
          class="p-1 rounded-lg disabled:text-gray-400"
          :disabled="!editor.can().chain().focus().undo().run()"
          @click="editor.chain().focus().undo().run()"
        >
          <static-svg name="editor/icon-back" class="w-5 h-5" />
        </button>
      </section>
      <client-only>
        <div v-if="editor">
          <editor-content :editor="editor" /></div
      ></client-only>
      <button-primary
        title="Tạo mới"
        icon="icon-pen-white"
        class="mt-4"
        :loading="loading"
        @click="submit"
      />
    </div>
  </div>
</template>

<!-- eslint-disable import/no-named-as-default -->
<script>
import ListItem from '@tiptap/extension-list-item'
import TextStyle from '@tiptap/extension-text-style'
import Image from '@tiptap/extension-image'
import { Editor, EditorContent } from '@tiptap/vue-2'
import StarterKit from '@tiptap/starter-kit'
import { apiList } from '~/apis/apiList'
import { routesUrl } from '~/constants'

export default {
  components: {
    EditorContent,
  },

  data() {
    return {
      loading: false,
      editor: null,
      form: {
        title: '',
        content: '<p>I’m running Tiptap with Vue.js. 🎉</p>',
      },
    }
  },
  mounted() {
    this.editor = new Editor({
      onUpdate: ({ editor }) => {
        if (editor) {
          this.form.content = editor.getHTML()
        }
      },
      editorProps: {
        attributes: {
          class:
            'border-b border-x border-gray-400 p-4 min-h-[20rem] max-h-[80vh] overflow-y-auto outline-none rounded-bl-xl rounded-br-xl',
        },
        transformPastedText(text) {
          return text.toUpperCase()
        },
      },
      content: this.form.content,
      extensions: [
        Image,
        TextStyle.configure({ types: [ListItem.name] }),
        StarterKit,
      ],
    })
  },
  beforeDestroy() {
    this.editor.destroy()
  },
  methods: {
    addImage() {
      const url = window.prompt('URL')

      if (url) {
        this.editor.chain().focus().setImage({ src: url }).run()
      }
    },
    stripHtml(html) {
      if (process.client) {
        const tmp = document.createElement('DIV')
        tmp.innerHTML = html
        return tmp.textContent || tmp.innerText || ''
      }
    },
    async submit() {
      if (
        !this.form.title.trim() ||
        !this.stripHtml(this.form.content.trim())
      ) {
        this.$message.warning('Nhập đầy đủ tiêu đề và nội dung')
      } else {
        this.loading = true
        const resp = await this.$customAxios.$post(apiList.POSTS.DEFAULT, {
          title: this.form.title,
          content: this.form.content,
          owner: this.$store.getters.loggedInUser.id,
        })
        if (resp) {
          this.$message.success('Tạo bài viết thành công')
          this.$router.push(routesUrl.POST)
        }
        this.loading = false
      }
    },
  },
}
</script>

<style lang="scss">
/* Basic editor styles */
.tiptap {
  line-height: 25px;
  /* List styles */
  ul,
  ol {
    list-style: auto;
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }
  p {
    color: #333;
  }
  /* Code and preformatted text styles */
  code {
    background-color: rgba(88, 5, 255, 0.05);
    border-radius: 0.4rem;
    color: #000;
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: #000;
    border-radius: 0.5rem;
    color: #fff;
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  blockquote {
    border-left: 3px solid rgba(61, 37, 20, 0.12);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }
}
</style>
