<template>
  <component :is="nameComponent" />
</template>

<script>
import pageMixin from '~/mixins/pageMixin'
export default {
  name: 'IndexPage',
  auth: false,
  components: {
    HomeDesktop: () => import('@/components/desktop/pages/home/Home.vue'),
    HomeMobile: () => import('@/components/mobile/pages/home/Home.vue'),
  },
  mixins: [pageMixin],
  head() {
    const title = 'Future - Tìm kiếm việc làm nhanh, tin cậy'
    const des = ''
    const keyword =
      'Future, future, tim kiem, viec lam, nhanh chong, tin cay, hieu qua, uy tin'
    const image = `${process.env.BASE_URL}/images/thumb-seo.png`
    return {
      ...this.headPage(title, des, keyword, image),
    }
  },
  computed: {
    nameComponent() {
      return this.isDesktop ? 'HomeDesktop' : 'HomeMobile'
    },
  },
}
</script>
