<template>
  <div class="py-24 lg:py-28 bg-banner-default bg-no-repeat bg-center bg-cover">
    <div class="container">
      <h2
        class="lg:text-[34px] lg:leading-[50px] text-[24px] leading-[30px] text-111 mb-6 lg:mb-8 text-center font-medium lg:font-semibold"
      >
        Đổi mật khẩu
      </h2>

      <div class="grid lg:grid-cols-4 grid-cols-1 gap-5 w-full">
        <div
          class="flex flex-col gap-1 lg:col-span-2 lg:col-start-2 col-span-1"
        >
          <div class="flex flex-col gap-2">
            <label for="currentPw" class="label-input-default"
              >Mật khẩu hiện tại</label
            >
            <div class="relative">
              <input
                id="currentPw"
                v-model="formData.currentPw"
                :type="isViewPassword ? 'text' : 'password'"
                placeholder="Nhập mật khẩu hiện tại"
                autocomplete="off"
                class="input-pw-default"
                @keyup.enter="handleSubmit"
              />
              <static-svg
                :name="isViewPassword ? 'icon-eye' : 'icon-uneye'"
                class="absolute right-3 top-1/2 -translate-y-1/2 w-3.5 h-3.5"
                @click="isViewPassword = !isViewPassword"
              />
            </div>
          </div>
          <span
            v-if="isRequired(formData.currentPw)"
            class="text-[14px] text-ff3"
            >Nhập đầy đủ thông tin</span
          >
        </div>
        <div
          class="flex flex-col gap-1 lg:col-span-2 lg:col-start-2 col-span-1"
        >
          <div class="flex flex-col gap-2">
            <label for="newPw" class="label-input-default">Mật khẩu mới</label>
            <div class="relative">
              <input
                id="newPw"
                v-model="formData.newPw"
                :type="isViewPassword ? 'text' : 'password'"
                placeholder="Nhập mật khẩu mới"
                autocomplete="off"
                class="input-pw-default"
                @keyup.enter="handleSubmit"
              />
              <static-svg
                :name="isViewPassword ? 'icon-eye' : 'icon-uneye'"
                class="absolute right-3 top-1/2 -translate-y-1/2 w-3.5 h-3.5"
                @click="isViewPassword = !isViewPassword"
              />
            </div>
          </div>
          <span v-if="isRequired(formData.newPw)" class="text-[14px] text-ff3"
            >Nhập đầy đủ thông tin</span
          >
        </div>
        <div
          class="flex flex-col gap-1 lg:col-span-2 lg:col-start-2 col-span-1"
        >
          <div class="flex flex-col gap-2">
            <label for="confirmPw" class="label-input-default"
              >Mật khẩu xác nhận</label
            >
            <div class="relative">
              <input
                id="confirmPw"
                v-model="formData.confirmPw"
                :type="isViewPassword ? 'text' : 'password'"
                placeholder="Nhập mật khẩu xác nhận"
                autocomplete="off"
                class="input-pw-default"
                @keyup.enter="handleSubmit"
              />
              <static-svg
                :name="isViewPassword ? 'icon-eye' : 'icon-uneye'"
                class="absolute right-3 top-1/2 -translate-y-1/2 w-3.5 h-3.5"
                @click="isViewPassword = !isViewPassword"
              />
            </div>
          </div>
          <span
            v-if="isRequired(formData.confirmPw)"
            class="text-[14px] text-ff3"
            >Nhập đầy đủ thông tin</span
          >
          <span v-if="isMatchPw()" class="text-[14px] text-ff3"
            >Mật khẩu không khớp</span
          >
        </div>
        <button-primary
          title="Cập nhật"
          class="rounded-xl !py-2 mt-1 lg:col-span-2 lg:col-start-2 col-span-1"
          :loading="submitting"
          @click="handleSubmit"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { apiList } from '~/apis/apiList'
import { routesUrl } from '~/constants'
import validationMixin from '~/mixins/validationMixin'

export default {
  mixins: [validationMixin],
  data() {
    return {
      isViewPassword: false,
      submitting: false,
    }
  },
  methods: {
    async handleSubmit() {
      this.startValidate = true
      if (
        !this.isRequired(this.formData.currentPw) &&
        !this.isRequired(this.formData.newPw) &&
        !this.isRequired(this.formData.confirmPw) &&
        !this.isMatchPw()
      ) {
        this.submitting = true
        try {
          const email = this.loggedInUser.email
          const resp = await this.$customAxios.$patch(
            apiList.USERS.PW_CHANGE.replace(':email', email),
            {
              currentPw: this.formData.currentPw,
              newPw: this.formData.newPw,
            }
          )

          if (resp) {
            this.$router.push(routesUrl.HOME)
            this.$message.success('Cập nhật mật khẩu thành công!')
            this.clearData()
          }
        } catch (error) {
          this.$message.error('Mật khẩu không đúng!')
        }
        this.submitting = false
      }
    },
  },
}
</script>
