<template>
  <div>
    <personal-content />
  </div>
</template>

<script>
import PersonalContent from '@/components/desktop/pages/personal/PersonalContent.vue'
export default {
  components: { PersonalContent },
}
</script>
