<template>
  <div class="py-24 lg:py-28 bg-banner-default bg-no-repeat bg-center bg-cover">
    <div class="container">
      <h2
        class="lg:text-[34px] lg:leading-[50px] text-[24px] leading-[30px] text-111 mb-6 lg:mb-8 text-center font-medium lg:font-semibold"
      >
        Thông tin cá nhân
      </h2>
      <div class="grid lg:grid-cols-12 grid-cols-1 gap-5 w-full">
        <div class="lg:col-span-6 lg:col-start-4 col-span-1">
          <div class="flex gap-5 flex-wrap">
            <div
              class="flex justify-center items-center w-[124px] h-[124px] border border-dashed border-0074 bg-007456 p-5 rounded-xl cursor-pointer"
              @click="showCropModal = !showCropModal"
            >
              <div class="flex items-center gap-2">
                <static-svg name="icon-upload" class="w-6 h-6" />
              </div>
            </div>
            <static-image
              v-if="imgData || loggedInUser.avatar"
              :url="(imgData && imgData.preview) || loggedInUser.avatar"
              class="w-[124px] h-[124px] rounded-xl object-cover"
            />
          </div>
          <client-only>
            <my-upload
              v-model="showCropModal"
              :width="300"
              :height="300"
              lang-type="vi"
              :no-circle="true"
              @src-file-set="srcFileSet"
              @crop-success="cropSuccess"
              @crop-upload-fail="cropUploadFail"
            />
          </client-only>
        </div>
        <div class="lg:col-span-6 lg:col-start-4 col-span-1">
          <div class="flex flex-col gap-1">
            <div class="flex flex-col gap-2">
              <label for="fullname" class="label-input-default">Họ tên</label>
              <input
                id="fullname"
                v-model="formData.fullname"
                type="text"
                placeholder="Nhập họ tên của bạn"
                autocomplete="off"
                class="input-default"
                @keyup.enter="handleSubmit"
              />
            </div>
            <span
              v-if="isRequired(formData.fullname)"
              class="text-[14px] text-ff3"
              >Nhập đầy đủ thông tin</span
            >
          </div>
        </div>
        <div class="lg:col-span-6 lg:col-start-4 col-span-1">
          <div class="flex flex-col gap-1">
            <div class="flex flex-col gap-2">
              <label for="phoneNumber" class="label-input-default"
                >Số điện thoại</label
              >
              <input
                id="phoneNumber"
                v-model="formData.phoneNumber"
                type="text"
                placeholder="Nhập số điện thoại của bạn"
                autocomplete="off"
                class="input-default"
                @keyup.enter="handleSubmit"
              />
            </div>
            <span
              v-if="isRequired(formData.phoneNumber)"
              class="text-[14px] text-ff3"
              >Nhập đầy đủ thông tin</span
            >
          </div>
        </div>
        <div class="lg:col-span-6 lg:col-start-4 col-span-1">
          <button-primary
            title="Cập nhật"
            class="rounded-xl !py-2 mt-1 w-full"
            :loading="submitting"
            @click="handleSubmit"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import myUpload from 'vue-image-crop-upload/upload-2.vue'
import validationMixin from '~/mixins/validationMixin'
import { dataURLtoFile } from '@/helpers'
import { apiList } from '@/apis/apiList'
export default {
  components: { myUpload },
  mixins: [validationMixin],
  data() {
    return {
      showCropModal: false,
      imgData: null,
      fileName: '',
      submitting: false,
    }
  },
  computed: {},
  unmounted() {
    URL.revokeObjectURL(this.imgData.preview)
    this.imgData = null
  },
  methods: {
    srcFileSet(fileName) {
      this.fileName = fileName
    },
    cropSuccess(imgDataUrl) {
      console.log('-------- Crop success --------')
      const file = dataURLtoFile(imgDataUrl, this.fileName)
      file.preview = URL.createObjectURL(
        dataURLtoFile(imgDataUrl, this.fileName)
      )

      this.imgData = file
    },
    cropUploadFail(status, field) {
      console.log('-------- Upload fail --------')
      console.log(status)
      console.log('field: ' + field)
    },
    async handleSubmit() {
      this.startValidate = true
      if (
        !this.isRequired(this.formData.fullname) &&
        !this.isRequired(this.formData.phoneNumber)
      ) {
        this.submitting = true
        if (this.imgData) {
          const formData = new FormData()
          formData.append('file', this.imgData)
          formData.append('folderName', 'avatars')
          const config = {
            headers: {
              'content-type': 'multipart/form-data',
            },
          }
          const imgResp = await this.$customAxios.$post(
            apiList.FILES.UPLOAD,
            formData,
            config
          )
          if (imgResp) {
            const userResp = await this.$customAxios.$patch(
              apiList.USERS.DETAIL.replace(
                ':id',
                this.$store.getters.loggedInUser.id
              ),
              {
                fullname: this.formData.fullname,
                phoneNumber: this.formData.phoneNumber,
                avatar: imgResp.secure_url,
                isVerify: this.$store.getters.loggedInUser.isVerify,
              }
            )
            if (userResp) {
              this.$message.success('Cập nhật thông tin thành công!')
              this.$auth.setUser(userResp)
            }
          } else {
            this.$message.error('Tải ảnh có lỗi!')
          }
          URL.revokeObjectURL(this.imgData.preview)
          this.imgData = null
        } else {
          const userResp = await this.$customAxios.$patch(
            apiList.USERS.DETAIL.replace(
              ':id',
              this.$store.getters.loggedInUser.id
            ),
            {
              fullname: this.formData.fullname,
              phoneNumber: this.formData.phoneNumber,
              avatar: this.$store.getters.loggedInUser.avatar,
              isVerify: this.$store.getters.loggedInUser.isVerify,
            }
          )
          if (userResp) {
            this.$message.success('Cập nhật thông tin thành công!')
            this.$auth.setUser(userResp)
          }
        }
        this.submitting = false
      }
    },
  },
}
</script>
