<template>
  <div class="container py-14">
    <div class="flex flex-wrap gap-2 items-center justify-between mb-6">
      <p class="text-18-23 text-111 font-medium">
        {{ totalItem }} việc làm
        {{ skill ? `cho "${skill}"` : '' }}
        {{ location ? `tại ${location}` : '' }}
      </p>
      <div
        v-if="jobList.length > 0"
        class="flex items-center gap-2 sm:gap-4 text-18-23 text-111 font-medium"
      >
        <p class="text-18-23 text-111 font-medium">Sắp xếp</p>
        <el-dropdown placement="bottom-end" trigger="click">
          <div class="flex items-center gap-2">
            <p class="text-16-25 text-555">{{ orderName }}</p>
            <static-svg name="icon-arrow-down" class="w-3 h-3" />
          </div>
          <el-dropdown-menu slot="dropdown">
            <p
              class="text-14-24 text-555 font-medium px-2 cursor-pointer hover:bg-007456 hover:text-0074"
              :class="
                orderBy == 'DESC' ? 'bg-007456 text-0074 font-semibold' : ''
              "
              @click="orderBy = 'DESC'"
            >
              Mới nhất
            </p>
            <p
              class="text-14-24 text-555 font-medium px-2 cursor-pointer hover:bg-007456 hover:text-0074"
              :class="
                orderBy == 'ASC' ? 'bg-007456 text-0074 font-semibold' : ''
              "
              @click="orderBy = 'ASC'"
            >
              Lâu nhất
            </p>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </div>

    <div v-if="!isLoading">
      <div
        v-if="jobList.length > 0"
        class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-4"
      >
        <div v-for="(item, index) in jobList" :key="index" class="col-span-1">
          <job-item-horizontial :job="item" />
        </div>
      </div>
      <el-empty v-else :image-size="80" class="mx-auto"></el-empty>
    </div>
    <div v-else class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-4">
      <div class="col-span-1"><skeleton-item /></div>
      <div class="col-span-1"><skeleton-item /></div>
      <div class="col-span-1"><skeleton-item /></div>
    </div>

    <el-pagination
      v-if="totalPage > 0"
      layout="prev, pager, next"
      :total="totalPage * 9"
      class="mt-4"
      @current-change="changePage"
    >
    </el-pagination>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { apiList } from '~/apis/apiList'

export default {
  data() {
    return {
      jobList: [],
      isLoading: false,
      totalItem: 0,
      orderBy: 'DESC',
      page: 1,
      totalPage: 0,
    }
  },
  computed: {
    ...mapGetters('job', {
      location: 'location',
      skill: 'skill',
    }),
    orderName() {
      if (this.orderBy === 'DESC') {
        return 'Mới nhất'
      } else {
        return 'Lâu nhất'
      }
    },
  },
  watch: {
    orderBy() {
      return this.getJobList(this.skill, this.location)
    },
    page() {
      return this.getJobList(this.skill, this.location)
    },
    skill() {
      return this.getJobList(this.skill, this.location)
    },
    location() {
      return this.getJobList(this.skill, this.location)
    },
  },
  created() {
    this.getJobList(this.skill, this.location)
  },
  methods: {
    changePage(newPage) {
      this.page = newPage
      window.scrollTo({
        top: 356,
        behavior: 'smooth',
      })
    },
    async getJobList(skill = '', location = '') {
      this.isLoading = true
      const resp = await this.$customAxios
        .$get(apiList.JOBS.DEFAULT, {
          params: {
            page: this.page,
            orderBy: this.orderBy,
            limit: 9,
            skill: skill || false,
            name: skill || false,
            location: location || false,
          },
        })
        .then((res) => res)
        .catch((error) => console.log(error))

      this.isLoading = false
      this.jobList = resp.data
      this.totalItem = resp.meta.total
      this.totalPage = resp.meta.pages
    },
  },
}
</script>
