<template>
  <div class="grid grid-cols-1 lg:grid-cols-10 gap-6 lg:gap-8">
    <div class="lg:col-span-7 col-span-1">
      <div class="p-4 sm:p-7 rounded-2xl bg-white">
        <div class="flex flex-1 gap-4">
          <static-image
            v-if="company.logo"
            :url="company.logo"
            class="w-14 h-14"
          />
          <static-image v-else name="no-image" class="w-14 h-14" />
          <div class="flex flex-col">
            <h2
              class="text-18-23 sm:text-24-30 text-111 font-medium line-clamp-1"
            >
              {{ company.companyName }}
            </h2>
            <h5 class="text-16-25 text-555 font-medium mt-1 line-clamp-1">
              {{ `${company.districtName}, ${company.provinceName}` }}
            </h5>
          </div>
        </div>
        <div class="flex gap-2 flex-wrap my-4">
          <el-tag>
            {{ company.scales }}
          </el-tag>
        </div>
        <button-primary
          icon="icon-contact-chat"
          title="Nhắn tin"
          class="mb-6"
          :loading="isLoading"
          @click="createConversation"
        />

        <el-divider />

        <div class="mt-5">
          <h3 class="text-20-30 text-111 font-medium">Mô tả</h3>
          <!-- eslint-disable vue/no-v-html -->
          <div
            class="mt-4 text-000 leading-6"
            v-html="company.introduction"
          ></div>
        </div>
      </div>
      <div class="p-4 sm:p-7 rounded-2xl bg-white mt-5">
        <h3 class="text-20-30 text-111 font-medium">Tuyển dụng</h3>
        <div
          v-if="company.jobs.length > 0"
          class="grid grid-cols-1 gap-y-4 mt-4"
        >
          <div
            v-for="(item, index) in company.jobs"
            :key="index"
            class="col-span-1"
          >
            <job-item-horizontial :job="addData(item)" />
          </div>
        </div>
        <el-empty v-else :image-size="80" class="mx-auto"></el-empty>
      </div>
    </div>
    <div class="lg:col-span-3 col-span-1">
      <div class="lg:sticky lg:top-[64px] p-4 sm:p-7 rounded-2xl bg-white">
        <h3 class="text-20-30 text-111 font-medium mb-4">Địa chỉ</h3>
        <div class="w-full h-[300px] border-none">
          <iframe
            title="company-maps"
            width="100%"
            height="100%"
            frameBorder="0"
            referrerPolicy="no-referrer-when-downgrade"
            allowFullScreen
            :src="source"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { apiList } from '~/apis/apiList'

export default {
  props: {
    company: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      isLoading: false,
    }
  },
  computed: {
    source() {
      return `https://www.google.com/maps/embed/v1/place?key=AIzaSyCVgO8KzHQ8iKcfqXgrMnUIGlD-piWiPpo&q=${this.company.districtName},${this.company.provinceName}&language=vi`
    },
  },
  methods: {
    addData(data) {
      data.company = {
        logo: this.company.logo,
        companyName: this.company.companyName,
      }
      return data
    },
    redirectConversationDetail(chatId) {
      const path = this.routeConversationDetail({
        chatId,
      })
      this.$router.push(path)
    },
    async createConversation() {
      this.isLoading = true
      const newConversation = await this.$customAxios
        .$post(apiList.CHATS.DEFAULT, {
          partner: `${this.company.hr.id}`,
        })
        .then((res) => res)
        .catch((error) => console.log(error))

      this.redirectConversationDetail(newConversation.id)

      this.isLoading = false
    },
  },
}
</script>
