<template>
  <breadcrumb :bread-list="breadList" />
</template>

<script>
import { routesUrl } from '~/constants'
export default {
  props: {
    company: {
      type: Object,
      default: () => ({}),
    },
  },
  computed: {
    breadList() {
      return [
        {
          to: routesUrl.HOME,
          label: 'Trang chủ',
        },
        {
          to: routesUrl.COMPANIES,
          label: 'Công ty',
        },
        {
          to: '',
          label: this.company.companyName,
        },
      ]
    },
  },
}
</script>
