<template>
  <component :is="nameComponent" :job="job" :list-job-sended="listJobSended" />
</template>

<script>
import { apiList } from '~/apis/apiList'
import { getIdFromSlugHash } from '~/helpers'
import pageMixin from '~/mixins/pageMixin'

export default {
  name: 'JobDetailPage',
  auth: false,
  components: {
    JobDetailDesktop: () =>
      import('@/components/desktop/pages/job-detail/JobDetail.vue'),
    JobDetailMobile: () =>
      import('@/components/mobile/pages/job-detail/JobDetail.vue'),
  },
  mixins: [pageMixin],
  async asyncData({ $customAxios, params, $auth }) {
    const getJobDetail = () => {
      const id = getIdFromSlugHash(params.jobSlug)
      return $customAxios
        .$get(apiList.JOBS.DETAIL.replace(':id', id))
        .then((res) => res)
        .catch((error) => console.log(error))
    }

    const getCvSended = () => {
      if ($auth.$state.loggedIn) {
        return $customAxios
          .$get(apiList.JOBS.CV_SENDED, {
            limit: 20,
            page: 1,
          })
          .then((res) => res)
          .catch((error) => console.log(error))
      }
      return {}
    }

    const [job, listJobSended] = await Promise.all([
      getJobDetail(),
      getCvSended(),
    ])

    return {
      job,
      listJobSended: listJobSended?.data,
    }
  },
  data() {
    return {
      job: {},
      listJobSended: [],
    }
  },
  head() {
    const title = this.job.name
    const des = this.job.location
    const keyword =
      'Future, future, tim kiem, viec lam, nhanh chong, tin cay, hieu qua, cong ty, de dang, uy tin'
    const image = this.job.company.logo
    return {
      ...this.headPage(title, des, keyword, image),
    }
  },
  computed: {
    nameComponent() {
      return this.isDesktop ? 'JobDetailDesktop' : 'JobDetailMobile'
    },
  },
}
</script>
