<template>
  <div class="py-24 bg-banner-find-job bg-no-repeat bg-center bg-cover">
    <h2
      class="text-[24px] leading-[30px] text-111 font-medium text-center text-wrap"
    >
      Tìm công ty bạn quan tâm
    </h2>
    <div class="flex flex-col mt-6 container">
      <div
        class="flex items-center gap-2 rounded-tl-2xl rounded-tr-2xl py-2.5 px-4 bg-white overflow-hidden"
      >
        <static-svg name="icon-search" class="w-5 h-5 fill-999" />
        <input
          v-model="name"
          placeholder="Nhập tên công ty tìm kiếm..."
          class="flex-1 h-full text-16-25 font-medium py-1.5 outline-none border-none"
          @keyup.enter="handleSearch"
        />
      </div>
      <el-divider />
      <div class="bg-white py-1.5 overflow-hidden">
        <el-select
          v-model="province"
          clearable
          placeholder="Địa điểm"
          class="w-full !border-none !outline-none"
        >
          <el-option
            v-for="item in options"
            :key="item.province_id"
            :label="item.province_name"
            :value="item.province_name"
          >
          </el-option>
        </el-select>
      </div>
      <el-divider />
      <div
        class="flex items-center justify-center rounded-bl-2xl rounded-br-2xl py-2.5 px-4 bg-white overflow-hidden"
      >
        <button-primary
          title="Tìm kiếm"
          class="w-full sm:w-[80%]"
          @click="handleSearch"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import provinceMixin from '~/mixins/provinceMixin'

export default {
  mixins: [provinceMixin],
  data() {
    return {
      name: this.$store.state.company.name,
      province: this.$store.state.company.province,
    }
  },
  methods: {
    ...mapActions('company', {
      changeName: 'changeName',
      changeProvince: 'changeProvince',
    }),
    handleSearch() {
      this.changeName(this.name.trim())
      this.changeProvince(this.province.trim())
    },
  },
}
</script>
