<template>
  <div class="py-16 bg-007456">
    <div class="container">
      <company-detail-breadcrumb :company="company" />
      <company-detail-grid :company="company" />
    </div>
  </div>
</template>

<script>
import CompanyDetailBreadcrumb from '@/components/desktop/pages/company-detail/CompanyDetailBreadcrumb.vue'
import CompanyDetailGrid from '@/components/desktop/pages/company-detail/CompanyDetailGrid.vue'
export default {
  components: { CompanyDetailBreadcrumb, CompanyDetailGrid },
  props: {
    company: {
      type: Object,
      default: () => ({}),
    },
  },
}
</script>
