<template>
  <component :is="nameComponent" />
</template>

<script>
import pageMixin from '~/mixins/pageMixin'

export default {
  name: 'PostMePage',
  components: {
    PostMeDesktop: () =>
      import('@/components/desktop/pages/post-me/PostMe.vue'),
    PostMeMobile: () => import('@/components/mobile/pages/post-me/PostMe.vue'),
  },
  mixins: [pageMixin],
  head() {
    const title = 'Bài viết của tôi'
    const des = ''
    const keyword =
      'Future, future, tim kiem, viec lam, nhanh chong, tin cay, hieu qua, uy tin'
    const image = `${process.env.BASE_URL}/images/thumb-seo.png`
    return {
      ...this.headPage(title, des, keyword, image),
    }
  },
  computed: {
    nameComponent() {
      return this.isDesktop ? 'PostMeDesktop' : 'PostMeMobile'
    },
  },
}
</script>
