<template>
  <component :is="nameComponent" />
</template>

<script>
import pageMixin from '~/mixins/pageMixin'

export default {
  name: 'CompanyPage',
  auth: false,
  components: {
    CompanyDesktop: () =>
      import('@/components/desktop/pages/company/Company.vue'),
    CompanyMobile: () =>
      import('@/components/mobile/pages/company/Company.vue'),
  },
  mixins: [pageMixin],
  head() {
    const title = 'Tìm kiếm các công ty trên Future dễ dàng'
    const des = ''
    const keyword =
      'Future, future, tim kiem, viec lam, nhanh chong, tin cay, hieu qua, cong ty, de dang, uy tin'
    const image = `${process.env.BASE_URL}/images/thumb-seo.png`
    return {
      ...this.headPage(title, des, keyword, image),
    }
  },
  computed: {
    nameComponent() {
      return this.isDesktop ? 'CompanyDesktop' : 'CompanyMobile'
    },
  },
}
</script>
